wekker/software/code/remote_control_node_red_nodes.txt
[{"id":"74fbe84f.5383a8","type":"udp out","z":"44214951.2b6408","name":"Send UDP msg to Wekker","addr":"192.168.0.212","iface":"","port":"8888","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1265.633399963379,"y":379.86675453186035,"wires":[]},{"id":"9ac9f7d8.bd671","type":"ui_switch","z":"44214951.2b6408","name":"radio aan/uit","label":"radio aan/uit","group":"98bc36f5.d46de8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"U","onvalueType":"str","onicon":"","oncolor":"","offvalue":"M","offvalueType":"str","officon":"","offcolor":"","x":332.6333312988281,"y":344.40000343322754,"wires":[["74fbe84f.5383a8"]]},{"id":"424fe69e.9d5a58","type":"ui_numeric","z":"44214951.2b6408","name":"Wektijd uur","label":"Wektijd uur","group":"71ad0d2b.183724","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":332.09999084472656,"y":390.8000297546387,"wires":[["76743809.872978"]]},{"id":"4d9d91d9.cf1b","type":"ui_numeric","z":"44214951.2b6408","name":"Wektijd min","label":"Wektijd min","group":"71ad0d2b.183724","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":331.09999084472656,"y":432.8000068664551,"wires":[["573c5a9a.e48aa4"]]},{"id":"b8ebbd97.6b458","type":"ui_numeric","z":"44214951.2b6408","name":"Huidig uur","label":"Huidig uur","group":"7a7a293.0ba3ed8","order":3,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":331.0999984741211,"y":528.800085067749,"wires":[["1454ebff.930a34"]]},{"id":"9b320862.07ee78","type":"ui_numeric","z":"44214951.2b6408","name":"Huidig min","label":"Huidig min","group":"7a7a293.0ba3ed8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"60","step":1,"x":335.0999984741211,"y":579.8000392913818,"wires":[["6d33aa91.e68a34"]]},{"id":"10d7f020.e2d14","type":"debug","z":"44214951.2b6408","name":"","active":false,"console":"false","complete":"false","x":1200.1002655029297,"y":776.2000784873962,"wires":[]},{"id":"48bf8402.3520cc","type":"link in","z":"44214951.2b6408","name":"Wekker - huidig uur","links":["b2151dd6.c96dd"],"x":160.10000228881836,"y":532.0000400543213,"wires":[["b8ebbd97.6b458"]]},{"id":"c7081e0e.dacfc","type":"link in","z":"44214951.2b6408","name":"Wekker - huidig min","links":["3758c9ce.419b06"],"x":158.10000228881836,"y":579.6000881195068,"wires":[["9b320862.07ee78"]]},{"id":"e6362eae.dae9d","type":"link in","z":"44214951.2b6408","name":"Wekker - huidig sec","links":["41fceca8.fc4ed4"],"x":159.10000228881836,"y":637.2000408172607,"wires":[["73feb48a.1d734c"]]},{"id":"73feb48a.1d734c","type":"ui_numeric","z":"44214951.2b6408","name":"Huidig sec","label":"Huidig sec","group":"7a7a293.0ba3ed8","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":334.10000228881836,"y":636.8000411987305,"wires":[[]]},{"id":"1454ebff.930a34","type":"function","z":"44214951.2b6408","name":"Set global huidig uur","func":"global.set('g_wekker_h', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":516.1001739501953,"y":530.0001525878906,"wires":[[]]},{"id":"6d33aa91.e68a34","type":"function","z":"44214951.2b6408","name":"Set global huidig minuten","func":"global.set('g_wekker_m', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":529.1001052856445,"y":577.0001554489136,"wires":[[]]},{"id":"5d21fcc1.4f8c54","type":"function","z":"44214951.2b6408","name":"wrap","func":"var m;\nm = msg.c + \"|\"+ msg.payload.toString();\nmsg = { payload:m };\nreturn msg;","outputs":1,"noerr":0,"x":1036.100185394287,"y":573.0001001358032,"wires":[["74fbe84f.5383a8"]]},{"id":"76e068f3.c33f68","type":"ui_numeric","z":"44214951.2b6408","name":"Snoozing duur","label":"Snoozing duur [m]","group":"71ad0d2b.183724","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"10","step":"1","x":344.0999946594238,"y":824.0000438690186,"wires":[["2fdf3897.69d608"]]},{"id":"3df6a81b.fc7588","type":"ui_numeric","z":"44214951.2b6408","name":"Attentive duur","label":"Attentive duur [m]","group":"5dfe9fcc.2c95b8","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"10","step":"1","x":347.0999946594238,"y":870.0000448226929,"wires":[["9b43473f.31eaf8"]]},{"id":"70199b53.9f78f4","type":"function","z":"44214951.2b6408","name":"A|<alarming duur>","func":"msg.c = 'A';\nreturn msg;","outputs":1,"noerr":0,"x":661.0000152587891,"y":775.0000877380371,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"2fdf3897.69d608","type":"function","z":"44214951.2b6408","name":"B|<snoozing duur>","func":"msg.c = 'B';\nreturn msg;","outputs":1,"noerr":0,"x":661.0000228881836,"y":821.0000982284546,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"9b43473f.31eaf8","type":"function","z":"44214951.2b6408","name":"C|<attentive duur>","func":"msg.c = 'C';\nreturn msg;","outputs":1,"noerr":0,"x":662.0000228881836,"y":864.0000972747803,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"807bc479.c93e88","type":"ui_switch","z":"44214951.2b6408","name":"klok aan/uit","label":"klok aan/uit","group":"7a7a293.0ba3ed8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"D","onvalueType":"str","onicon":"","oncolor":"","offvalue":"E","offvalueType":"str","officon":"","offcolor":"","x":333.00000762939453,"y":266.00000381469727,"wires":[["74fbe84f.5383a8"]]},{"id":"c206ed04.d7926","type":"comment","z":"44214951.2b6408","name":"Generates D and E","info":"Generates D and E","x":651.1000823974609,"y":260.00004863739014,"wires":[]},{"id":"ac915f69.30dc","type":"comment","z":"44214951.2b6408","name":"Generates U and M","info":"","x":655.0000457763672,"y":339.0000343322754,"wires":[]},{"id":"5a5c0678.5bb3c8","type":"ui_switch","z":"44214951.2b6408","name":"show seconds","label":"show seconds","group":"7a7a293.0ba3ed8","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"F","onvalueType":"str","onicon":"","oncolor":"","offvalue":"G","offvalueType":"str","officon":"","offcolor":"","x":342,"y":303,"wires":[["74fbe84f.5383a8"]]},{"id":"eab4eb79.8fd058","type":"comment","z":"44214951.2b6408","name":"Generates F and G","info":"","x":650.0000228881836,"y":298.00004482269287,"wires":[]},{"id":"a67f6a9.80d3298","type":"ui_numeric","z":"44214951.2b6408","name":"Alarming duur","label":"Alarming duur [m]","group":"71ad0d2b.183724","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"10","step":"1","x":344.0999984741211,"y":779.0000429153442,"wires":[["70199b53.9f78f4"]]},{"id":"d3b58de3.aff37","type":"ui_numeric","z":"44214951.2b6408","name":"radio frequency","label":"radio frequency [100kHz]","group":"98bc36f5.d46de8","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"880","max":"1080","step":"1","x":346.0999946594238,"y":923.0000457763672,"wires":[["a817ddb1.20bde"]]},{"id":"a817ddb1.20bde","type":"function","z":"44214951.2b6408","name":"I|<frequency>","func":"msg.c = 'I';\nreturn msg;","outputs":1,"noerr":0,"x":658.0000152587891,"y":923.0000877380371,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"1e3c6489.879f7b","type":"ui_button","z":"44214951.2b6408","name":"sync met domotica","group":"7a7a293.0ba3ed8","order":6,"width":0,"height":0,"label":"sync met domotica","color":"","bgcolor":"","icon":"","payload":"J","payloadType":"str","topic":"","x":352.0999984741211,"y":683.8002014160156,"wires":[["f7c7badd.985d28"]]},{"id":"19e6820c.c4465e","type":"ui_switch","z":"44214951.2b6408","name":"zomer / winter","label":"zomer / winter","group":"7a7a293.0ba3ed8","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Z","onvalueType":"str","onicon":"","oncolor":"","offvalue":"W","offvalueType":"str","officon":"","offcolor":"","x":343.1666793823242,"y":731.0000562667847,"wires":[["10d7f020.e2d14","b0dc4026.0cbf9"]]},{"id":"b0dc4026.0cbf9","type":"function","z":"44214951.2b6408","name":"K|<Z|W>","func":"msg.c = 'K';\nreturn msg;","outputs":1,"noerr":0,"x":627.9333724975586,"y":728.4000902175903,"wires":[["5d21fcc1.4f8c54"]]},{"id":"68a959e5.113558","type":"ui_button","z":"44214951.2b6408","name":"Zet wekker aan/uit","group":"71ad0d2b.183724","order":1,"width":0,"height":0,"label":"Zet wekker aan/uit","color":"","bgcolor":"","icon":"","payload":"O","payloadType":"str","topic":"","x":351.9333190917969,"y":226.26666259765625,"wires":[["74fbe84f.5383a8"]]},{"id":"e174103f.c14fe","type":"ui_button","z":"44214951.2b6408","name":"Zet wekker op sluimerstand","group":"71ad0d2b.183724","order":2,"width":0,"height":0,"label":"Zet wekker op sluimerstand","color":"","bgcolor":"","icon":"","payload":"N","payloadType":"str","topic":"","x":380.9333190917969,"y":184.93333435058594,"wires":[["74fbe84f.5383a8"]]},{"id":"eb7432c2.7b484","type":"ui_button","z":"44214951.2b6408","name":"attentitive touch","group":"5dfe9fcc.2c95b8","order":1,"width":0,"height":0,"label":"attentitive touch","color":"","bgcolor":"","icon":"","payload":"L","payloadType":"str","topic":"","x":341.9333190917969,"y":144.93333435058594,"wires":[["74fbe84f.5383a8"]]},{"id":"a3faa971.c0f988","type":"comment","z":"44214951.2b6408","name":"Generates L","info":"Generates L","x":628.933349609375,"y":141.93333435058594,"wires":[]},{"id":"a73a6309.bd13b","type":"comment","z":"44214951.2b6408","name":"Generates N","info":"Generates N","x":633.9333801269531,"y":176.93334197998047,"wires":[]},{"id":"4dc89d1a.db17d4","type":"comment","z":"44214951.2b6408","name":"Generates O","info":"Generates O","x":632.933349609375,"y":214.93333435058594,"wires":[]},{"id":"d961b618.4a6cc8","type":"comment","z":"44214951.2b6408","name":"S,T,V,W, 0..9 single command ASCII codes still available","info":"","x":459.933349609375,"y":100.93333721160889,"wires":[]},{"id":"f7c7badd.985d28","type":"function","z":"44214951.2b6408","name":"R|<h>|<m>","func":"var m;\nm = \"R|\" + global.get('g_wekker_h') + '|'+ global.get('g_wekker_m') ;\nmsg = { payload:m };\nreturn msg;","outputs":1,"noerr":0,"x":636.9334106445312,"y":682.533390045166,"wires":[["74fbe84f.5383a8"]]},{"id":"73b9af46.95ca8","type":"ui_button","z":"44214951.2b6408","name":"stel wektijd in","group":"71ad0d2b.183724","order":5,"width":0,"height":0,"label":"stel wektijd in","color":"","bgcolor":"","icon":"","payload":"J","payloadType":"str","topic":"","x":331.99998474121094,"y":474.2666816711426,"wires":[["f8579b99.764858"]]},{"id":"76743809.872978","type":"function","z":"44214951.2b6408","name":"Set global wektijd uur","func":"global.set('g_wekker_alarm_h', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":514.9333724975586,"y":391.2666816711426,"wires":[[]]},{"id":"573c5a9a.e48aa4","type":"function","z":"44214951.2b6408","name":"Set global wektijd minuten","func":"global.set('g_wekker_alarm_m', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":522.9334030151367,"y":432.2667179107666,"wires":[[]]},{"id":"f8579b99.764858","type":"function","z":"44214951.2b6408","name":"P|<alarm uur>","func":"var m;\nm = \"P|\" + global.get('g_wekker_alarm_h') + '|'+ global.get('g_wekker_alarm_m') ;\nmsg = { payload:m };\nreturn msg;","outputs":1,"noerr":0,"x":644.1003646850586,"y":478.0002155303955,"wires":[["10d7f020.e2d14","74fbe84f.5383a8"]]},{"id":"52e919bb.a37188","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO4","group":"98bc36f5.d46de8","order":6,"width":0,"height":0,"label":"Radio - NPO4","color":"","bgcolor":"","icon":"","payload":"943","payloadType":"str","topic":"","x":103.16671752929688,"y":1070.6003274917603,"wires":[["d3b58de3.aff37"]]},{"id":"7000f4d3.ae76bc","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO3","group":"98bc36f5.d46de8","order":5,"width":0,"height":0,"label":"Radio - NPO3","color":"","bgcolor":"","icon":"","payload":"968","payloadType":"str","topic":"","x":107.93336486816406,"y":1034.9335927963257,"wires":[["d3b58de3.aff37"]]},{"id":"53c16e86.d595e","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO1","group":"98bc36f5.d46de8","order":3,"width":0,"height":0,"label":"Radio - NPO1","color":"","bgcolor":"","icon":"","payload":"989","payloadType":"str","topic":"","x":106.93336486816406,"y":957.9335870742798,"wires":[["d3b58de3.aff37"]]},{"id":"9bd3164b.8e4278","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO2","group":"98bc36f5.d46de8","order":4,"width":0,"height":0,"label":"Radio - NPO2","color":"","bgcolor":"","icon":"","payload":"926","payloadType":"str","topic":"","x":108.9333610534668,"y":996.9335250854492,"wires":[["d3b58de3.aff37"]]},{"id":"3ff287d3.9bb4b8","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"943","payloadType":"num","repeat":"","crontab":"","once":true,"x":90.16666412353516,"y":922.8667945861816,"wires":[["d3b58de3.aff37"]]},{"id":"7681f873.692da8","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"x":87.16666030883789,"y":779.8667221069336,"wires":[["a67f6a9.80d3298"]]},{"id":"9d45e4e8.cf7f18","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"x":88.16666030883789,"y":826.8667249679565,"wires":[["76e068f3.c33f68"]]},{"id":"7ceab78.fa34d48","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":86.16666030883789,"y":871.8667278289795,"wires":[["3df6a81b.fc7588"]]},{"id":"7d0c9e43.719af","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":true,"x":79.16665649414062,"y":390.8666763305664,"wires":[["424fe69e.9d5a58"]]},{"id":"9573f39f.fb79e","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":78.16666030883789,"y":435.8666744232178,"wires":[["4d9d91d9.cf1b"]]},{"id":"98bc36f5.d46de8","type":"ui_group","z":"","name":"Radio","tab":"b33ddbee.e9332","order":4,"disp":true,"width":"6"},{"id":"71ad0d2b.183724","type":"ui_group","z":"","name":"Alarm","tab":"b33ddbee.e9332","order":3,"disp":true,"width":"6"},{"id":"7a7a293.0ba3ed8","type":"ui_group","z":"","name":"Klok","tab":"b33ddbee.e9332","order":2,"disp":true,"width":"6"},{"id":"5dfe9fcc.2c95b8","type":"ui_group","z":"","name":"Wekker","tab":"b33ddbee.e9332","order":1,"disp":true,"width":"6"},{"id":"b33ddbee.e9332","type":"ui_tab","z":"","name":"Wekker","icon":"dashboard"}]