wekker/software/code/remote_control_node_red_flows.txt
[{"id":"4648a339.3a654c","type":"tab","label":"From domoticz"},{"id":"c586be05.fc067","type":"tab","label":"Het weer"},{"id":"59740636.d431c8","type":"tab","label":"Clock"},{"id":"9637b7c5.af49a8","type":"tab","label":"Machines"},{"id":"cea144fc.646028","type":"tab","label":"arpies"},{"id":"7bb41a9f.febd24","type":"tab","label":"Flow 1"},{"id":"154e0d77.bec153","type":"tab","label":"To domoticz"},{"id":"659b1a18.a0fee4","type":"tab","label":"Presence"},{"id":"44214951.2b6408","type":"tab","label":"Wekker"},{"id":"ff806796.7a6b58","type":"mqtt-broker","z":"4648a339.3a654c","broker":"192.168.0.208","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"902f134b.f818a","type":"ui_group","z":"","name":"Master","tab":"bcaeddce.db54","order":1,"disp":true,"width":"6"},{"id":"580021ae.717c1","type":"ui_group","z":"","name":"Werkkamer","tab":"7ce13179.96a38","order":2,"disp":true,"width":"6"},{"id":"f9e731b0.74cb9","type":"ui_group","z":"","name":"Achtertuin","tab":"92b8d921.fc5518","order":1,"disp":true,"width":"6"},{"id":"bcaeddce.db54","type":"ui_tab","z":"","name":"Verlichting","icon":"dashboard","order":4},{"id":"4e3fed46.4e1d94","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Zilverbes dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d3996780.a84a48","type":"ui_group","z":"","name":"Utrecht","tab":"92b8d921.fc5518","order":2,"disp":true,"width":"6"},{"id":"11e525c5.f6fada","type":"ui_group","z":"","name":"Meer weer","tab":"92b8d921.fc5518","order":3,"disp":true,"width":"6"},{"id":"92b8d921.fc5518","type":"ui_tab","z":"","name":"Buiten","icon":"dashboard","order":2},{"id":"e763356a.f4e898","type":"ui_group","z":"","name":"Clock","tab":"a946659.8fd5298","disp":true,"width":"24"},{"id":"a946659.8fd5298","type":"ui_tab","z":"","name":"Klok","icon":"dashboard","order":5},{"id":"a6205571.88d8a8","type":"ui_group","z":"","name":"Machines","tab":"8a7cd1d2.770e1","order":1,"disp":true,"width":"20"},{"id":"8a7cd1d2.770e1","type":"ui_tab","z":"","name":"Machines","icon":"dashboard","order":6},{"id":"b35d8504.0a6628","type":"ui_group","z":"","name":"Huiskamer","tab":"7ce13179.96a38","order":1,"disp":true,"width":"6"},{"id":"7ce13179.96a38","type":"ui_tab","z":"","name":"Binnen","icon":"dashboard","order":1},{"id":"42afd32.c88a82c","type":"ui_tab","z":"","name":"Woordklok","icon":"dashboard","order":7},{"id":"4c4220b6.32a34","type":"ui_group","z":"","name":"Woordklok","tab":"42afd32.c88a82c","disp":true,"width":"12"},{"id":"78f2b87e.34fcc8","type":"ui_group","z":"","name":"Slaapkamer","tab":"7ce13179.96a38","order":3,"disp":true,"width":"6"},{"id":"f4128f2d.f90fc","type":"ui_link","z":"","name":"Domoticz","link":"http://192.168.0.208:8080/","icon":"open_in_browser","target":"newtab","order":1},{"id":"83dfcc5e.8735e","type":"ui_link","z":"","name":"Mangrove","link":"http://192.168.0.209:1880/ui","icon":"open_in_browser","target":"newtab","order":2},{"id":"5e9c9ecb.292b3","type":"ui_tab","z":"","name":"Nattigheid","icon":"dashboard","order":3},{"id":"1cbfb80.a635b48","type":"ui_group","z":"","name":"Rain","tab":"5e9c9ecb.292b3","disp":true,"width":"24"},{"id":"b33ddbee.e9332","type":"ui_tab","z":"","name":"Wekker","icon":"dashboard"},{"id":"5dfe9fcc.2c95b8","type":"ui_group","z":"","name":"Wekker","tab":"b33ddbee.e9332","order":1,"disp":true,"width":"6"},{"id":"98bc36f5.d46de8","type":"ui_group","z":"","name":"Radio","tab":"b33ddbee.e9332","order":4,"disp":true,"width":"6"},{"id":"71ad0d2b.183724","type":"ui_group","z":"","name":"Alarm","tab":"b33ddbee.e9332","order":3,"disp":true,"width":"6"},{"id":"7a7a293.0ba3ed8","type":"ui_group","z":"","name":"Klok","tab":"b33ddbee.e9332","order":2,"disp":true,"width":"6"},{"id":"b7221c09.d06bc","type":"mqtt in","z":"4648a339.3a654c","name":"publications by domoticz/out","topic":"domoticz/out","qos":"2","broker":"ff806796.7a6b58","x":144,"y":53,"wires":[["dd09de9c.a3c44"]]},{"id":"e7de73d9.7c29a","type":"switch","z":"4648a339.3a654c","name":"switch on idx","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"35","vt":"str"},{"t":"eq","v":"41","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"260","vt":"str"},{"t":"eq","v":"263","vt":"str"},{"t":"eq","v":"273","vt":"str"},{"t":"eq","v":"274","vt":"str"},{"t":"eq","v":"265","vt":"str"},{"t":"eq","v":"256","vt":"str"},{"t":"eq","v":"281","vt":"str"}],"checkall":"true","outputs":15,"x":95,"y":378.3333435058594,"wires":[["d8af0d5d.e90fb"],["d8af0d5d.e90fb","d76bfacf.df3f38"],["b58b564.38c6ca8","d8af0d5d.e90fb"],["205e3936.b5ada6"],["7009bba5.5c6674"],["479bd8fe.3c97a8"],["d76bfacf.df3f38"],["d76bfacf.df3f38"],["b3f3e474.52a998"],["88613daf.670e3"],["6473a486.9fd23c"],["90debdaf.b6955"],["78f6e7a.5c2f618","25347643.42639a"],[],["ecc93b84.93b708"]]},{"id":"dd09de9c.a3c44","type":"json","z":"4648a339.3a654c","name":"","x":73,"y":106,"wires":[["e7de73d9.7c29a"]]},{"id":"2838d596.396a6a","type":"debug","z":"4648a339.3a654c","name":"","active":true,"console":"false","complete":"false","x":1226,"y":833.3333740234375,"wires":[]},{"id":"e0f3db27.f33578","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":1,"width":"2","height":"2","gtype":"donut","title":"Keuken","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":759,"y":94,"wires":[]},{"id":"205e3936.b5ada6","type":"function","z":"4648a339.3a654c","name":"Handle keukenlicht","func":"msg.payload = msg.payload.nvalue\nreturn msg;","outputs":1,"noerr":0,"x":422,"y":93,"wires":[["e0f3db27.f33578"]]},{"id":"7009bba5.5c6674","type":"function","z":"4648a339.3a654c","name":"Handle leeslamp","func":"msg.payload = msg.payload.nvalue\nreturn msg;","outputs":1,"noerr":0,"x":423.9999542236328,"y":53.999996185302734,"wires":[["33e72642.ef1dda"]]},{"id":"33e72642.ef1dda","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":3,"width":"2","height":"2","gtype":"donut","title":"Lees","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":759,"y":55,"wires":[]},{"id":"479bd8fe.3c97a8","type":"function","z":"4648a339.3a654c","name":"Handle schemer","func":"msg.payload = msg.payload.nvalue\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":133,"wires":[["8752f517.05e648"]]},{"id":"8752f517.05e648","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":4,"width":"2","height":"2","gtype":"donut","title":"Schemer","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":759,"y":134,"wires":[]},{"id":"53b99fe2.5e15f","type":"function","z":"4648a339.3a654c","name":"Handle buiten","func":"msg.payload = msg.payload.nvalue\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":173,"wires":[["e7379619.455278"]]},{"id":"e7379619.455278","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":6,"width":"2","height":"2","gtype":"donut","title":"Buiten","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":749,"y":174,"wires":[]},{"id":"c089a49c.359c98","type":"function","z":"4648a339.3a654c","name":"Handle geel","func":"msg.payload = msg.payload.nvalue\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":213,"wires":[["5beda303.665dec"]]},{"id":"5beda303.665dec","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":5,"width":"2","height":"2","gtype":"donut","title":"Geel","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":749,"y":214,"wires":[]},{"id":"8c651296.af03a","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":7,"width":"2","height":"2","gtype":"donut","title":"Zolder","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":749,"y":254,"wires":[]},{"id":"d936b443.74d248","type":"function","z":"4648a339.3a654c","name":"Handle zolder","func":"msg.payload = msg.payload.nvalue\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":253,"wires":[["8c651296.af03a"]]},{"id":"d76bfacf.df3f38","type":"function","z":"4648a339.3a654c","name":"Handle werkkamer T en H","func":"t = { payload : parseFloat(msg.payload.svalue1) };\nh = { payload : parseFloat(msg.payload.svalue2) };\nreturn [t, h]; ","outputs":"2","noerr":0,"x":439.99981689453125,"y":378.99993896484375,"wires":[["917132e6.93625","f9cda87e.1bffc8","600b3133.20bd4"],["892de860.645db8","3b951af9.d12bf6","b7d633f2.04009"]]},{"id":"917132e6.93625","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"580021ae.717c1","order":2,"width":"2","height":"2","gtype":"gage","title":"Temperatuur","label":"[Celsius]","format":"{{value}}","min":"10","max":"30","colors":["#0700b5","#e6c900","#ca3838"],"seg1":"","seg2":"","x":880.9999923706055,"y":360.00000381469727,"wires":[]},{"id":"3b951af9.d12bf6","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"580021ae.717c1","order":3,"width":"2","height":"2","gtype":"gage","title":"Vochtigheid","label":"%","format":"{{value}}","min":"30.0","max":"90.0","colors":["#1200fc","#7d7cfb","#ffffff"],"seg1":"","seg2":"","x":887,"y":409,"wires":[]},{"id":"b58b564.38c6ca8","type":"function","z":"4648a339.3a654c","name":"Handle werkkamer licht","func":"m = { payload : parseFloat(msg.payload.svalue1) };\nreturn m; ","outputs":1,"noerr":0,"x":439.99993896484375,"y":323,"wires":[["7e39aa6.5b49f54","de45d543.0a20c8","cf5dc155.53dac"]]},{"id":"7e39aa6.5b49f54","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"580021ae.717c1","order":4,"width":"2","height":"2","gtype":"gage","title":"Lichtsterkte","label":"","format":"{{value}}","min":0,"max":"1024","colors":["#000000","#090085","#ffffff"],"seg1":"","seg2":"","x":879.9999847412109,"y":324.00002002716064,"wires":[]},{"id":"32a1a132.48cf1e","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"f9e731b0.74cb9","order":2,"width":"2","height":"2","gtype":"gage","title":"Temperatuur","label":"[Celsius]","format":"{{value}}","min":"-10","max":"35","colors":["#ffffff","#09e600","#ca3838"],"seg1":"0","seg2":"","x":888.9999847412109,"y":648.0000286102295,"wires":[]},{"id":"4b11a6c2.db3788","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"f9e731b0.74cb9","order":3,"width":"2","height":"2","gtype":"gage","title":"Vochtigheid","label":"%","format":"{{value}}","min":"0","max":"75","colors":["#1200fc","#7d7cfb","#ffffff"],"seg1":"","seg2":"","x":888.9999847412109,"y":688.0000286102295,"wires":[]},{"id":"f9cda87e.1bffc8","type":"ui_chart","z":"4648a339.3a654c","name":"Temperatuur / dag","group":"580021ae.717c1","order":8,"width":"6","height":"3","label":"Temperatuur / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"18","ymax":"28","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1062.049072265625,"y":359.6669921875,"wires":[[],[]]},{"id":"b7d633f2.04009","type":"ui_chart","z":"4648a339.3a654c","name":"Vochtigheid / dag","group":"580021ae.717c1","order":9,"width":"6","height":"3","label":"Vochtigheid / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"30","ymax":"75","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1060.9999923706055,"y":400.00000381469727,"wires":[[],[]]},{"id":"de45d543.0a20c8","type":"ui_chart","z":"4648a339.3a654c","name":"Lichtsterkte / dag","group":"580021ae.717c1","order":10,"width":"6","height":"3","label":"Lichtsterkte / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1059.999984741211,"y":324.00002002716064,"wires":[[],[]]},{"id":"2c5df60d.d6871a","type":"ui_chart","z":"4648a339.3a654c","name":"Temperatuur / dag","group":"f9e731b0.74cb9","order":7,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"-10","ymax":"35","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1068.999984741211,"y":648.0000286102295,"wires":[[],[]]},{"id":"677c1fe8.b4b66","type":"ui_chart","z":"4648a339.3a654c","name":"Vochtigheid / dag","group":"f9e731b0.74cb9","order":8,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"95","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1068.999984741211,"y":688.0000286102295,"wires":[[],[]]},{"id":"600b3133.20bd4","type":"ui_text","z":"4648a339.3a654c","group":"580021ae.717c1","order":5,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":746,"y":383,"wires":[]},{"id":"892de860.645db8","type":"ui_text","z":"4648a339.3a654c","group":"580021ae.717c1","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":751,"y":426,"wires":[]},{"id":"cf5dc155.53dac","type":"ui_text","z":"4648a339.3a654c","group":"580021ae.717c1","order":7,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":739.9999847412109,"y":324.00002002716064,"wires":[]},{"id":"479e8e.1f8c8174","type":"ui_text","z":"4648a339.3a654c","group":"f9e731b0.74cb9","order":5,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":748.9999847412109,"y":648.0000286102295,"wires":[]},{"id":"7f7f1b59.a3f7d4","type":"ui_text","z":"4648a339.3a654c","group":"f9e731b0.74cb9","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":748.9999847412109,"y":688.0000286102295,"wires":[]},{"id":"e2e0448b.e7a5a8","type":"function","z":"c586be05.fc067","name":"Weer provider T","func":"m = { payload : msg.payload.temp, topic:\"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":590,"y":392,"wires":[["d5d60765.d1fff8","89b836e6.dce9d8","9a2a0754.c4f368"]]},{"id":"d5d60765.d1fff8","type":"ui_gauge","z":"c586be05.fc067","name":"","group":"d3996780.a84a48","order":3,"width":"2","height":"2","gtype":"gage","title":"Temperatuur","label":"units","format":"{{value}}","min":"-10","max":"35","colors":["#ffffff","#09e600","#ca3838"],"seg1":"0","seg2":"","x":1060,"y":392,"wires":[]},{"id":"c7791dba.fbbf2","type":"function","z":"c586be05.fc067","name":"Weer provider H","func":"m = { payload : msg.payload.lv, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":583,"y":436,"wires":[["d7c08b53.c8e888","3662510e.eafede","171f7662.422d8a"]]},{"id":"d7c08b53.c8e888","type":"ui_gauge","z":"c586be05.fc067","name":"","group":"d3996780.a84a48","order":4,"width":"2","height":"2","gtype":"gage","title":"Vochtigheid","label":"%","format":"{{value}}","min":"30","max":"90","colors":["#1200fc","#7d7cfb","#ffffff"],"seg1":"","seg2":"","x":1066,"y":431,"wires":[]},{"id":"89b836e6.dce9d8","type":"ui_chart","z":"c586be05.fc067","name":"Temperatuur / dag","group":"d3996780.a84a48","order":9,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"0","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1237.6669921875,"y":389.66700744628906,"wires":[[],[]]},{"id":"3662510e.eafede","type":"ui_chart","z":"c586be05.fc067","name":"Vochtigheid / dag","group":"d3996780.a84a48","order":10,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"30","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1239.333984375,"y":434.4380187988281,"wires":[[],[]]},{"id":"9a2a0754.c4f368","type":"ui_text","z":"c586be05.fc067","group":"d3996780.a84a48","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":899,"y":409,"wires":[]},{"id":"171f7662.422d8a","type":"ui_text","z":"c586be05.fc067","group":"d3996780.a84a48","order":7,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":911,"y":456,"wires":[]},{"id":"7b5b99b9.3c7668","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":5,"width":"6","height":"1","name":"","label":"nu    ","format":"{{msg.payload}}","layout":"row-spread","x":911,"y":557,"wires":[]},{"id":"b149214e.11171","type":"ui_gauge","z":"c586be05.fc067","name":"","group":"11e525c5.f6fada","order":3,"width":"3","height":"3","gtype":"compass","title":"windrichting","label":"","format":"{{value}}","min":0,"max":"359","colors":["#00b500","#e6e600","#ca3838"],"seg1":"120","seg2":"240","x":930,"y":598,"wires":[]},{"id":"de0bf174.736fc","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":4,"width":"3","height":"3","name":"","label":"Beaufort","format":"{{msg.payload}}","layout":"col-center","x":924,"y":637,"wires":[]},{"id":"c943ac43.adf25","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":6,"width":"6","height":"1","name":"","label":"straks","format":"{{msg.payload}}","layout":"row-spread","x":912,"y":680,"wires":[]},{"id":"85788b4a.da3478","type":"moment","z":"59740636.d431c8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY, MM, DD, HH, mm, ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Amsterdam","x":372,"y":166.00000023841858,"wires":[["e624d751.112df8"]]},{"id":"e40c7332.cd46f","type":"debug","z":"59740636.d431c8","name":"","active":false,"console":"false","complete":"false","x":1043.0000381469727,"y":294.00000381469727,"wires":[]},{"id":"8f81101a.6a86a","type":"inject","z":"59740636.d431c8","name":"every second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":152,"y":106.00000023841858,"wires":[["85788b4a.da3478","4d7f247d.8aa5dc","5ae4e252.8b194c","283ec0e3.d9ade","87143ddc.22afa"]]},{"id":"e624d751.112df8","type":"csv","z":"59740636.d431c8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":542,"y":166.00000023841858,"wires":[["eea04d2e.78f2"]]},{"id":"eea04d2e.78f2","type":"function","z":"59740636.d431c8","name":"","func":"m1 = { payload : msg.payload.col1};\nm2 = { payload : msg.payload.col2};\nm3 = { payload : msg.payload.col3};\nm4 = { payload : msg.payload.col4};\nm5 = { payload : msg.payload.col5};\nm6 = { payload : msg.payload.col6};\nreturn [m1, m2, m3, m4, m5, m6];\n\n","outputs":"6","noerr":0,"x":662,"y":166.00000023841858,"wires":[[],[],[],["1de461e2.153d1e"],["471a1d1d.1fc3e4"],["20543a96.cadf36","41fceca8.fc4ed4"]]},{"id":"7ece514a.5c58b","type":"ui_gauge","z":"59740636.d431c8","name":"","group":"e763356a.f4e898","order":3,"width":"8","height":"8","gtype":"donut","title":"uren","label":"","format":"{{value}}","min":0,"max":"24","colors":["#ffffff","#ff7f7f","#ff0000"],"seg1":"","seg2":"","x":1067.0001335144043,"y":133.00001525878906,"wires":[]},{"id":"113f58fc.ada5a7","type":"ui_gauge","z":"59740636.d431c8","name":"","group":"e763356a.f4e898","order":4,"width":"8","height":"8","gtype":"donut","title":"minuten","label":"","format":"{{value}}","min":0,"max":"60","colors":["#ffffff","#7fff7f","#00ff00"],"seg1":"","seg2":"","x":1073.0002632141113,"y":176.00002574920654,"wires":[]},{"id":"20543a96.cadf36","type":"ui_gauge","z":"59740636.d431c8","name":"","group":"e763356a.f4e898","order":5,"width":"8","height":"8","gtype":"donut","title":"seconden","label":"","format":"{{value}}","min":0,"max":"60","colors":["#ffffff","#8080ff","#0000ff"],"seg1":"","seg2":"","x":1074.0001373291016,"y":220.00002765655518,"wires":[]},{"id":"4d7f247d.8aa5dc","type":"moment","z":"59740636.d431c8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM YYYY","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Amsterdam","x":372,"y":66.00000023841858,"wires":[["a2063ce5.f6679"]]},{"id":"a2063ce5.f6679","type":"ui_text","z":"59740636.d431c8","group":"e763356a.f4e898","order":1,"width":"24","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":822,"y":66.00000023841858,"wires":[]},{"id":"f17c0c28.f0a72","type":"ping","z":"9637b7c5.af49a8","name":"router","host":"192.168.0.1","timer":"300","x":70,"y":120,"wires":[["2111a89e.0e0418"]]},{"id":"eb9e370c.2f85e8","type":"debug","z":"9637b7c5.af49a8","name":"","active":false,"console":"false","complete":"false","x":810,"y":20,"wires":[]},{"id":"2111a89e.0e0418","type":"function","z":"9637b7c5.af49a8","name":"topic router","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"router\";\nreturn msg;","outputs":"1","noerr":0,"x":270,"y":120,"wires":[["c8986461.110108","2ecff0d5.d56b4"]]},{"id":"adf91112.4a099","type":"comment","z":"9637b7c5.af49a8","name":"ping my machines","info":"","x":110,"y":40,"wires":[]},{"id":"e7a41286.9fd","type":"ping","z":"9637b7c5.af49a8","name":"domoticz","host":"192.168.0.208","timer":"300","x":84.00000762939453,"y":575.0000123977661,"wires":[["2b757420.df1a0c"]]},{"id":"2b757420.df1a0c","type":"function","z":"9637b7c5.af49a8","name":"topic domoticz","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"domoticz\";\nreturn msg;","outputs":"1","noerr":0,"x":284.00000762939453,"y":575.0000123977661,"wires":[["c8986461.110108","bec7a2a1.1c0bf"]]},{"id":"e3d0f94.79b9c08","type":"function","z":"9637b7c5.af49a8","name":"topic unknown","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"localhost\";\nreturn msg;","outputs":"1","noerr":0,"x":280,"y":80,"wires":[["c8986461.110108","1cac6bca.1b31a4"]]},{"id":"4106dc0.2c0d124","type":"ping","z":"9637b7c5.af49a8","name":"localhost","host":"127.0.0.1","timer":"60","x":80,"y":80,"wires":[["e3d0f94.79b9c08"]]},{"id":"c8986461.110108","type":"ui_chart","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":1,"width":"20","height":"6","label":"ping return [log10(ms)]","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"-3","ymax":"3","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":630,"y":320,"wires":[[],[]]},{"id":"4ab32107.788d4","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":2,"width":"2","height":"2","gtype":"gage","title":"127.0.0.1 localhost","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":790,"y":80,"wires":[]},{"id":"4340c481.1f96fc","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":3,"width":"2","height":"2","gtype":"gage","title":"192.168.0.1 router","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":790,"y":120,"wires":[]},{"id":"a8a2a99f.3f5098","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":7,"width":"2","height":"2","gtype":"gage","title":"192.168.0.208 domoticz","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":814.0000076293945,"y":575.0000123977661,"wires":[]},{"id":"a74fab83.bbd2b8","type":"ping","z":"9637b7c5.af49a8","name":"framboos","host":"192.168.0.200","timer":"600","x":80,"y":160,"wires":[["fb77a11a.d0dd7"]]},{"id":"7e2bd503.bcbccc","type":"ping","z":"9637b7c5.af49a8","name":"kruisbes","host":"192.168.0.201","timer":"600","x":80,"y":200,"wires":[["5602276.ffd5dd8"]]},{"id":"6e15c0d7.e99f2","type":"ping","z":"9637b7c5.af49a8","name":"zwartebes","host":"192.168.0.202","timer":"600","x":80,"y":240,"wires":[["64881340.fc924c"]]},{"id":"47c60f8a.e239d","type":"ping","z":"9637b7c5.af49a8","name":"aardbei","host":"192.168.0.203","timer":"600","x":70,"y":280,"wires":[["11961729.1b5749"]]},{"id":"5c136500.de469c","type":"ping","z":"9637b7c5.af49a8","name":"minix","host":"192.168.0.204","timer":"600","x":70,"y":360,"wires":[["6b897688.3195c8"]]},{"id":"bd9736d8.ce5568","type":"ping","z":"9637b7c5.af49a8","name":"thuis","host":"192.168.0.205","timer":"600","x":70,"y":400,"wires":[["b34c20ab.c9ac4"]]},{"id":"bf402ec4.6a2ad","type":"ping","z":"9637b7c5.af49a8","name":"zilverbes","host":"192.168.0.207","timer":"300","x":84.00000762939453,"y":535.0000123977661,"wires":[["98f5a797.e91178"]]},{"id":"fb77a11a.d0dd7","type":"function","z":"9637b7c5.af49a8","name":"topic framboos","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"framboos\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["c8986461.110108","158687f5.a203d8"]]},{"id":"5602276.ffd5dd8","type":"function","z":"9637b7c5.af49a8","name":"topic kruisbes","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"kruisbes\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["c8986461.110108","6db88b05.d26b44"]]},{"id":"64881340.fc924c","type":"function","z":"9637b7c5.af49a8","name":"topic zwartebes","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"zwartebes\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["c8986461.110108","d683baf8.e1e2f8"]]},{"id":"11961729.1b5749","type":"function","z":"9637b7c5.af49a8","name":"topic aardbei","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"aardbei\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["c8986461.110108","f4859912.216418"]]},{"id":"6b897688.3195c8","type":"function","z":"9637b7c5.af49a8","name":"topic minix","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"minix\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["c8986461.110108","8ec8af5b.56774"]]},{"id":"b34c20ab.c9ac4","type":"function","z":"9637b7c5.af49a8","name":"topic thuis","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"thuis\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["c8986461.110108","91775de7.10464"]]},{"id":"98f5a797.e91178","type":"function","z":"9637b7c5.af49a8","name":"topic zilverbes","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"zilverbes\";\nreturn msg;","outputs":1,"noerr":0,"x":284.00000762939453,"y":535.0000123977661,"wires":[["c8986461.110108","df6e860a.8c3bd8"]]},{"id":"4c5f7b7.453ca84","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":10,"width":"2","height":"2","gtype":"gage","title":"192.168.0.200 framboos","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":810,"y":160,"wires":[]},{"id":"8a8a4bed.3d1928","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":11,"width":"2","height":"2","gtype":"gage","title":"192.168.0.201 kruisbes","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":800,"y":200,"wires":[]},{"id":"253046c7.c39c9a","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":12,"width":"2","height":"2","gtype":"gage","title":"192.168.0.202 zwartebes","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":810,"y":240,"wires":[]},{"id":"eafd913.cb4327","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":13,"width":"2","height":"2","gtype":"gage","title":"192.168.0.203 aardbei","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":800,"y":280,"wires":[]},{"id":"aa965367.20f27","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":14,"width":"2","height":"2","gtype":"gage","title":"192.168.0.204 minix","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":800,"y":360,"wires":[]},{"id":"67b9ae3e.7f333","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":4,"width":"2","height":"2","gtype":"gage","title":"192.168.0.205 thuis","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":790,"y":400,"wires":[]},{"id":"796bd66d.85f5a8","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":6,"width":"2","height":"2","gtype":"gage","title":"192.168.0.207 zilverbes","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":814.0000076293945,"y":535.0000123977661,"wires":[]},{"id":"1cac6bca.1b31a4","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["4ab32107.788d4"]]},{"id":"2ecff0d5.d56b4","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["4340c481.1f96fc"]]},{"id":"158687f5.a203d8","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["4c5f7b7.453ca84"]]},{"id":"6db88b05.d26b44","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["8a8a4bed.3d1928"]]},{"id":"d683baf8.e1e2f8","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["253046c7.c39c9a"]]},{"id":"f4859912.216418","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["eafd913.cb4327"]]},{"id":"8ec8af5b.56774","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["aa965367.20f27"]]},{"id":"91775de7.10464","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["67b9ae3e.7f333"]]},{"id":"df6e860a.8c3bd8","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":634.0000076293945,"y":535.0000123977661,"wires":[["796bd66d.85f5a8"]]},{"id":"bec7a2a1.1c0bf","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":634.0000076293945,"y":575.0000123977661,"wires":[["a8a2a99f.3f5098"]]},{"id":"bf0eba3.a832848","type":"ping","z":"9637b7c5.af49a8","name":"nodo","host":"192.168.0.206","timer":"300","x":70,"y":440,"wires":[["4ac61dc8.337cd4"]]},{"id":"4ac61dc8.337cd4","type":"function","z":"9637b7c5.af49a8","name":"topic nodo","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"nodo\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["c0e6dec5.e726c","c8986461.110108"]]},{"id":"c0e6dec5.e726c","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["6bc47305.adb76c"]]},{"id":"6bc47305.adb76c","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":5,"width":"2","height":"2","gtype":"gage","title":"192.168.0.206 nodo","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":790,"y":440,"wires":[]},{"id":"b4a600eb.9d81c","type":"ping","z":"9637b7c5.af49a8","name":"mangrove wlan0","host":"192.168.0.113","timer":"300","x":104.00000762939453,"y":615.0000123977661,"wires":[["b5d7c92b.e09c98"]]},{"id":"b5d7c92b.e09c98","type":"function","z":"9637b7c5.af49a8","name":"topic mangrove","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"mangrove\";\nreturn msg;","outputs":1,"noerr":0,"x":284.00000762939453,"y":615.0000123977661,"wires":[["c8986461.110108","e591f66d.2df868"]]},{"id":"e591f66d.2df868","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":624.0000076293945,"y":615.0000123977661,"wires":[["7f5d19ac.59e208"]]},{"id":"7f5d19ac.59e208","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":9,"width":"2","height":"2","gtype":"gage","title":"192.168.0.113 mangrove","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":814.0000076293945,"y":615.0000123977661,"wires":[]},{"id":"50eb75b8.16bd4c","type":"function","z":"4648a339.3a654c","name":"Handle tuin temperatuur","func":"m = { payload : parseFloat(msg.payload.svalue1) };\nreturn m; ","outputs":1,"noerr":0,"x":449,"y":647,"wires":[["479e8e.1f8c8174","32a1a132.48cf1e","2c5df60d.d6871a"]]},{"id":"bfa799ea.53bf48","type":"function","z":"4648a339.3a654c","name":"Handle tuin humidity","func":"m = { payload : msg.payload.svalue2 };\nreturn m; ","outputs":1,"noerr":0,"x":439,"y":683,"wires":[["7f7f1b59.a3f7d4","4b11a6c2.db3788","677c1fe8.b4b66"]]},{"id":"1bcee82f.cb3fc8","type":"function","z":"4648a339.3a654c","name":"Handle huiskamer T en H","func":"th = msg.payload.svalue.split(';');\nt = { payload : parseFloat(th[0]) };\nh = { payload : parseFloat(th[1]) };\nreturn [t, h]; ","outputs":"2","noerr":0,"x":442.9999237060547,"y":541.9999628067017,"wires":[["92dcd2c5.94844","e2950d05.dd3b7","2b1500c0.3fe69"],["9c5638a1.e1f0f8","40b4fe49.d4545","d29a3afc.a585c8"]]},{"id":"e2950d05.dd3b7","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"b35d8504.0a6628","order":2,"width":"2","height":"2","gtype":"gage","title":"Temperatuur","label":"[Celsius]","format":"{{value}}","min":"10","max":"30","colors":["#0700b5","#e6c900","#ca3838"],"seg1":"","seg2":"","x":886.9999847412109,"y":529.9999933242798,"wires":[]},{"id":"2b1500c0.3fe69","type":"ui_chart","z":"4648a339.3a654c","name":"Temperatuur / dag","group":"b35d8504.0a6628","order":8,"width":"6","height":"3","label":"Temperatuur / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"18","ymax":"28","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1061.666000366211,"y":525.3339776992798,"wires":[[],[]]},{"id":"92dcd2c5.94844","type":"ui_text","z":"4648a339.3a654c","group":"b35d8504.0a6628","order":5,"width":"2","height":"1","name":"t text","label":"","format":"{{msg.payload}}","layout":"row-center","x":746.9999847412109,"y":529.9999933242798,"wires":[]},{"id":"40b4fe49.d4545","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"b35d8504.0a6628","order":3,"width":"2","height":"2","gtype":"gage","title":"Vochtigheid","label":"%","format":"{{value}}","min":"30","max":"90","colors":["#1200fc","#7d7cfb","#ffffff"],"seg1":"","seg2":"","x":886.9999847412109,"y":568.9999933242798,"wires":[]},{"id":"d29a3afc.a585c8","type":"ui_chart","z":"4648a339.3a654c","name":"Vochtigheid / dag","group":"b35d8504.0a6628","order":9,"width":"6","height":"3","label":"Vochtigheid / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"30","ymax":"75","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1066.999984741211,"y":569.9999933242798,"wires":[[],[]]},{"id":"9c5638a1.e1f0f8","type":"ui_text","z":"4648a339.3a654c","group":"b35d8504.0a6628","order":6,"width":"2","height":"1","name":"h text","label":"","format":"{{msg.payload}}","layout":"row-center","x":746.9999847412109,"y":569.9999933242798,"wires":[]},{"id":"d6837ef8.55638","type":"function","z":"4648a339.3a654c","name":"Handle huiskamer L","func":"m = { payload : parseFloat(msg.payload.svalue) };\nreturn m; ","outputs":1,"noerr":0,"x":433.99993896484375,"y":607.0000610351562,"wires":[["f0fde018.7e95b","fb4bde8c.8e90f","342738.d96498c8"]]},{"id":"fb4bde8c.8e90f","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"b35d8504.0a6628","order":4,"width":"2","height":"2","gtype":"gage","title":"Lichtsterkte","label":"","format":"{{value}}","min":0,"max":"1024","colors":["#000000","#090085","#ffffff"],"seg1":"","seg2":"","x":884,"y":605,"wires":[]},{"id":"342738.d96498c8","type":"ui_chart","z":"4648a339.3a654c","name":"Lichtsterkte / dag","group":"b35d8504.0a6628","order":10,"width":"6","height":"3","label":"Lichtsterkte / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1064,"y":605,"wires":[[],[]]},{"id":"f0fde018.7e95b","type":"ui_text","z":"4648a339.3a654c","group":"b35d8504.0a6628","order":7,"width":"2","height":"1","name":"l text","label":"","format":"{{msg.payload}}","layout":"row-center","x":744,"y":605,"wires":[]},{"id":"11d1a495.40a93b","type":"ui_text","z":"c586be05.fc067","group":"d3996780.a84a48","order":8,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":917,"y":507,"wires":[]},{"id":"37fb9bf4.f449b4","type":"ping","z":"9637b7c5.af49a8","name":"mangrove eth0","host":"192.168.0.209","timer":"300","x":104.00000762939453,"y":655.0000123977661,"wires":[["afbda228.fa71a"]]},{"id":"afbda228.fa71a","type":"function","z":"9637b7c5.af49a8","name":"topic mangrove_eth0","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"mangrove_eth0\";\nreturn msg;","outputs":1,"noerr":0,"x":304.00000762939453,"y":655.0000123977661,"wires":[["6a5a94d9.98e71c","c8986461.110108"]]},{"id":"6a5a94d9.98e71c","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":624.0000076293945,"y":655.0000123977661,"wires":[["7a4431d1.c89d6"]]},{"id":"7a4431d1.c89d6","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":8,"width":"2","height":"2","gtype":"gage","title":"192.168.0.209 mangrove_eth0 ","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":834.0000076293945,"y":655.0000123977661,"wires":[]},{"id":"f6748594.70bf08","type":"function","z":"4648a339.3a654c","name":"Huiskamer  stempel","func":"//msg.payload = new Date().toLocaleDateString() + \" \" + new Date().toLocaleTimeString() ;\nmsg.payload = new Date()\nreturn msg;\n","outputs":1,"noerr":0,"x":424.99993896484375,"y":498,"wires":[["a8c90da5.eba11"]]},{"id":"db2924fd.119b38","type":"ui_text","z":"4648a339.3a654c","group":"b35d8504.0a6628","order":1,"width":"6","height":"1","name":"stempel","label":"","format":"{{msg.payload}}","layout":"row-center","x":834.9999465942383,"y":493.99998664855957,"wires":[]},{"id":"d8af0d5d.e90fb","type":"function","z":"4648a339.3a654c","name":"Wrkkamer stempel","func":"//msg.payload = new Date().toLocaleDateString() + \" \" + new Date().toLocaleTimeString() ;\nmsg.payload = new Date()\nreturn msg;\n","outputs":1,"noerr":0,"x":417.9998779296875,"y":288,"wires":[["f03518e4.caccd8"]]},{"id":"ac522834.1f8cb8","type":"ui_text","z":"4648a339.3a654c","group":"580021ae.717c1","order":1,"width":"6","height":"1","name":"stempel","label":"","format":"{{msg.payload}}","layout":"row-center","x":810.9999923706055,"y":290.00000381469727,"wires":[]},{"id":"a8c90da5.eba11","type":"moment","z":"4648a339.3a654c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM HH:mm","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":649,"y":496.99998664855957,"wires":[["db2924fd.119b38"]]},{"id":"f03518e4.caccd8","type":"moment","z":"4648a339.3a654c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM HH:mm","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":630.9999923706055,"y":290.00000381469727,"wires":[["ac522834.1f8cb8"]]},{"id":"9167f633.7de908","type":"function","z":"4648a339.3a654c","name":"Tuin stempel","func":"//msg.payload = new Date().toLocaleDateString() + \" \" + new Date().toLocaleTimeString() ;\nmsg.payload = new Date()\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":1042.9999694824219,"wires":[["fb5d979e.76f938"]]},{"id":"fb5d979e.76f938","type":"moment","z":"4648a339.3a654c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM HH:mm","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":643.9999923706055,"y":1040.999994277954,"wires":[["60ce1d7a.713bf4"]]},{"id":"60ce1d7a.713bf4","type":"ui_text","z":"4648a339.3a654c","group":"f9e731b0.74cb9","order":1,"width":0,"height":0,"name":"stempel","label":"","format":"{{msg.payload}}","layout":"row-center","x":835.9999923706055,"y":1040.999994277954,"wires":[]},{"id":"3031eda8.4d8bb2","type":"moment","z":"c586be05.fc067","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM HH:mm","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":841,"y":355,"wires":[["684b772d.428bc8"]]},{"id":"684b772d.428bc8","type":"ui_text","z":"c586be05.fc067","group":"d3996780.a84a48","order":2,"width":"6","height":"1","name":"stempel","label":"","format":"{{msg.payload}}","layout":"row-center","x":1269,"y":355,"wires":[]},{"id":"5fe0ce0a.f9d72","type":"debug","z":"c586be05.fc067","name":"","active":false,"console":"false","complete":"payload","x":1053.0000610351562,"y":1015,"wires":[]},{"id":"4fafe2de.c0e40c","type":"ui_gauge","z":"c586be05.fc067","name":"Luchtdruk","group":"d3996780.a84a48","order":5,"width":"2","height":"2","gtype":"gage","title":"Luchtdruk","label":"units","format":"{{value}}","min":"950","max":"1050","colors":["#787878","#776dff","#0000ff"],"seg1":"","seg2":"","x":1062,"y":476,"wires":[]},{"id":"94b252dd.4dbaf","type":"ui_chart","z":"c586be05.fc067","name":"Luchtdruk / dag","group":"d3996780.a84a48","order":11,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"980","ymax":"1030","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1230,"y":480,"wires":[[],[]]},{"id":"8c13035e.8131b","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":0,"width":0,"height":0,"name":"zon op","label":"zon op","format":"{{msg.payload}}","layout":"row-spread","x":915,"y":723,"wires":[]},{"id":"28f0f713.990528","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":0,"width":0,"height":0,"name":"","label":"zon onder","format":"{{msg.payload}}","layout":"row-spread","x":927,"y":763,"wires":[]},{"id":"af92e724.156278","type":"function","z":"c586be05.fc067","name":"set global sunrise, day_start and day_end, sunset","func":"// set global sunrise and sunset and indicator\nglobal.set('dt_sunrise', msg.payload.sys.sunrise);\nglobal.set('dt_sunset', msg.payload.sys.sunset);\n\n// deploy when the sun is set!\n//typeof maybeObject != \"undefined\"\nif (typeof global.get('is_sun_up') == \"undefined\") {\n    global.set('is_sun_up', 0);    \n}\nif (typeof global.get('is_daylight') == \"undefined\") {\n    global.set('is_daylight', 0);    \n}\nreturn msg;","outputs":"1","noerr":0,"x":696,"y":930,"wires":[["61f05cec.88d6d4"]]},{"id":"bcc23273.720b8","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":0,"width":0,"height":0,"name":"is zon op?","label":"is zon op?","format":"{{msg.payload}}","layout":"row-spread","x":1054,"y":940,"wires":[]},{"id":"fd2e4fc8.e7588","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":0,"width":0,"height":0,"name":"is_daylight?","label":"is_daylight?","format":"{{msg.payload}}","layout":"row-spread","x":1054,"y":976,"wires":[]},{"id":"72602b7c.3c08e4","type":"ui_text","z":"59740636.d431c8","group":"e763356a.f4e898","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":822,"y":106.00000023841858,"wires":[]},{"id":"5ae4e252.8b194c","type":"moment","z":"59740636.d431c8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"X","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Amsterdam","x":372,"y":106.00000023841858,"wires":[["72602b7c.3c08e4"]]},{"id":"283ec0e3.d9ade","type":"link out","z":"59740636.d431c8","name":"het weer","links":["d2db95f5.1aed38"],"x":289.99999809265137,"y":20,"wires":[]},{"id":"61f05cec.88d6d4","type":"function","z":"c586be05.fc067","name":"calculate indicators","func":"// get global sunrise and sunset and calculate indicators\ndtrise = global.get('dt_sunrise');\ndtdaylight_start = dtrise + 3600;\ndtset = global.get('dt_sunset');\ndtdaylight_end = dtset - 3600;\ndtnu = parseInt(new Date().getTime()/1000);\nsun_event = false;\nif (dtnu < dtrise) {\n    msg.payload = \"nee\";\n    if (global.get('is_sun_up') == 1) {\n        sun_event = true;\n    }\n    global.set('is_sun_up', 0);\n} else {\n    if (dtnu < dtset) {\n        msg.payload = \"ja\";\n        if (global.get('is_sun_up') === 0) {\n            sun_event = true;\n        }\n        global.set('is_sun_up', 1);\n    } else {\n        msg.payload = \"nee\";\n        if (global.get('is_sun_up') == 1) {\n            sun_event = true;\n        }\n        global.set('is_sun_up', 0);\n    }\n}\nif (dtnu < dtdaylight_start) {\n    if (global.get('is_daylight') == 1) {\n        sun_event = true;\n    }\n    global.set('is_daylight', 0);\n} else {\n    if (dtnu < dtdaylight_end) {\n        if (global.get('is_daylight') === 0) {\n            sun_event = true;\n        }\n        global.set('is_daylight', 1);\n    } else {\n        if (global.get('is_daylight') == 1) {\n            sun_event = true;\n        }\n        global.set('is_daylight', 0);\n    }\n}\n//return null;\n//if (sun_event === true) {\n    return [msg, {payload:global.get('is_daylight')}, {payload:global.get('is_sun_up')}];\n//} else {\n//    return [null, null, null];\n//}\n","outputs":"3","noerr":0,"x":594,"y":976,"wires":[["bcc23273.720b8","5fe0ce0a.f9d72"],["fd2e4fc8.e7588","5fe0ce0a.f9d72"],["5fe0ce0a.f9d72"]]},{"id":"5f28a3a9.e097bc","type":"inject","z":"c586be05.fc067","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":851,"wires":[["d9603528.1884c8"]]},{"id":"d9603528.1884c8","type":"function","z":"c586be05.fc067","name":"set sunrise 0","func":"global.set('dt_sunrise', 0);\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":853,"wires":[[]]},{"id":"baafc7f2.5cbed8","type":"function","z":"c586be05.fc067","name":"set sunset 0","func":"global.set('dt_sunset', 0);\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":893,"wires":[[]]},{"id":"b5478f94.8e431","type":"inject","z":"c586be05.fc067","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":891,"wires":[["baafc7f2.5cbed8"]]},{"id":"cf264a03.5ccac8","type":"arp","z":"9637b7c5.af49a8","name":"ARP","macs":"","x":380,"y":740,"wires":[["2933db9a.fe4ba4"]]},{"id":"b9491462.0b0f58","type":"inject","z":"9637b7c5.af49a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":740,"wires":[["cf264a03.5ccac8"]]},{"id":"2933db9a.fe4ba4","type":"debug","z":"9637b7c5.af49a8","name":"","active":false,"console":"false","complete":"false","x":530,"y":740,"wires":[]},{"id":"25347643.42639a","type":"debug","z":"4648a339.3a654c","name":"","active":false,"console":"false","complete":"payload","x":1226,"y":763,"wires":[]},{"id":"6ab7b770.201be8","type":"function","z":"cea144fc.646028","name":"Detect Presence","func":"const triggers = 10;\nconst MAC = \"00:00:00:00:00:00\";\nvar count = context.count||0;\n\nif(msg.payload.indexOf(MAC)>0){\n    if(count < 1){\n        msg.payload = 1;\n        count = triggers;\n        context.count = count;\n        return msg;\n    }else count = triggers;\n    \n}else{\n    count -= 1;\n    if(count === 0){\n        msg.payload = 0;\n        context.count = count;\n        return msg;\n    }else if(count < 0){\n        count = 0; \n    }\n}\ncontext.count = count;\n","outputs":1,"noerr":0,"x":447,"y":62,"wires":[[]]},{"id":"685f94fa.41d92c","type":"exec","z":"cea144fc.646028","command":"ssh -t localhost sudo arp-scan --localnet","addpay":false,"append":"zilverbes","useSpawn":true,"timer":"","name":"Arp-Scan","x":200,"y":160,"wires":[["6ab7b770.201be8"],["baadff6c.043cb"],["baadff6c.043cb"]]},{"id":"3a1cf084.1cc5a","type":"inject","z":"cea144fc.646028","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":true,"x":55,"y":147.75,"wires":[[]]},{"id":"baadff6c.043cb","type":"debug","z":"cea144fc.646028","name":"","active":false,"console":"false","complete":"false","x":425.00003814697266,"y":157.74999618530273,"wires":[]},{"id":"3e6957e5.d42ea8","type":"debug","z":"4648a339.3a654c","name":"","active":false,"console":"false","complete":"payload","x":105.65142822265625,"y":670.028678894043,"wires":[]},{"id":"ce60c99f.d5ba98","type":"udp out","z":"59740636.d431c8","name":"Send woordklok command in UDP msg","addr":"192.168.0.211","iface":"","port":"8888","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1010.6443023681641,"y":603.9782981872559,"wires":[]},{"id":"6d917ea6.d1f0f","type":"function","z":"59740636.d431c8","name":"set global woordkloktime","func":"global.set('woordkloktime', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":607.6490478515625,"y":242.86779618263245,"wires":[[]]},{"id":"87143ddc.22afa","type":"moment","z":"59740636.d431c8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"HHmmss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Amsterdam","x":372.2403793334961,"y":212.23075318336487,"wires":[["6d917ea6.d1f0f"]]},{"id":"1e51a4d4.e68e1b","type":"inject","z":"59740636.d431c8","name":"","topic":"","payload":"S1 1 100 100 100","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.64181518554688,"y":464.7331838607788,"wires":[["ce60c99f.d5ba98","2b28aa9b.181f26"]]},{"id":"2b28aa9b.181f26","type":"debug","z":"59740636.d431c8","name":"","active":false,"console":"false","complete":"false","x":635.644229888916,"y":623.0215826034546,"wires":[]},{"id":"920a1da5.5968","type":"inject","z":"59740636.d431c8","name":"","topic":"","payload":"R","payloadType":"str","repeat":"","crontab":"","once":false,"x":91.64182662963867,"y":429.2019147872925,"wires":[["ce60c99f.d5ba98"]]},{"id":"7b4acb3.494fc34","type":"inject","z":"59740636.d431c8","name":"","topic":"","payload":"MB","payloadType":"str","repeat":"","crontab":"","once":false,"x":88.64902877807617,"y":508.3581829071045,"wires":[["ce60c99f.d5ba98"]]},{"id":"f259f04c.6831e","type":"ui_button","z":"59740636.d431c8","name":"Resume","group":"4c4220b6.32a34","order":1,"width":"4","height":"1","label":"Hervat klok kijken","color":"","bgcolor":"","icon":"","payload":"Y","payloadType":"str","topic":"","x":70.64904022216797,"y":582.1514883041382,"wires":[["ce60c99f.d5ba98"]]},{"id":"91cb0e8b.7f231","type":"comment","z":"59740636.d431c8","name":"Woordklok test injectors","info":"","x":113.64663696289062,"y":389.3677978515625,"wires":[]},{"id":"da38443c.0e0978","type":"comment","z":"59740636.d431c8","name":"Woordklok user interface","info":"","x":122.64663696289062,"y":543.367805480957,"wires":[]},{"id":"7ee5771b.8b11f8","type":"ui_button","z":"59740636.d431c8","name":"Toggle","group":"4c4220b6.32a34","order":2,"width":"4","height":"1","label":"Toggle klok","color":"","bgcolor":"","icon":"","payload":"K","payloadType":"str","topic":"","x":60.63943099975586,"y":617.9230976104736,"wires":[["ce60c99f.d5ba98"]]},{"id":"4be3107f.f2758","type":"ui_slider","z":"59740636.d431c8","name":"X coordinaat","label":"X","group":"4c4220b6.32a34","order":4,"width":"4","height":"1","passthru":true,"topic":"","min":0,"max":"9","step":1,"x":82.63943481445312,"y":698.3965978622437,"wires":[["5bde70f4.443ac","242b3c5d.2f84a4"]]},{"id":"aae507e3.cfe938","type":"ui_slider","z":"59740636.d431c8","name":"Y coordinaat","label":"Y","group":"4c4220b6.32a34","order":6,"width":"4","height":"1","passthru":true,"topic":"","min":0,"max":"11","step":1,"x":83.64423370361328,"y":742.3941850662231,"wires":[["5df2d7d2.c49d08","dca18640.4ca9c8"]]},{"id":"a4029a79.431aa8","type":"ui_colour_picker","z":"59740636.d431c8","name":"Kies kleur","label":"Kies kleur","group":"4c4220b6.32a34","format":"rgb","outformat":"object","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":8,"width":0,"height":0,"passthru":true,"topic":"","x":78.64424133300781,"y":805.213906288147,"wires":[["e91d6cb6.80e34","2b28aa9b.181f26"]]},{"id":"23f4673f.299698","type":"ui_button","z":"59740636.d431c8","name":"","group":"4c4220b6.32a34","order":9,"width":0,"height":0,"label":"Stel de gekozen pixel in op de gekozen kleur","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":186.6490020751953,"y":847.381983757019,"wires":[["ab6390a9.4bd3c"]]},{"id":"5bde70f4.443ac","type":"ui_text","z":"59740636.d431c8","group":"4c4220b6.32a34","order":5,"width":"2","height":"1","name":"X","label":"X","format":"{{msg.payload}}","layout":"row-spread","x":452.64902114868164,"y":701.3076524734497,"wires":[]},{"id":"5df2d7d2.c49d08","type":"ui_text","z":"59740636.d431c8","group":"4c4220b6.32a34","order":7,"width":"2","height":"1","name":"","label":"Y","format":"{{msg.payload}}","layout":"row-spread","x":453.6442184448242,"y":742.3028020858765,"wires":[]},{"id":"242b3c5d.2f84a4","type":"function","z":"59740636.d431c8","name":"set g_woordklok_x","func":"global.set('g_woordklok_x', msg.payload.toString());  \nreturn msg;","outputs":1,"noerr":0,"x":268.64659118652344,"y":719.096079826355,"wires":[["ab6390a9.4bd3c"]]},{"id":"dca18640.4ca9c8","type":"function","z":"59740636.d431c8","name":"set g_woordklok_y","func":"global.set('g_woordklok_y', msg.payload.toString());  \nreturn msg;","outputs":1,"noerr":0,"x":269.6466369628906,"y":762.3990392684937,"wires":[["ab6390a9.4bd3c"]]},{"id":"e91d6cb6.80e34","type":"function","z":"59740636.d431c8","name":"set g_woordklok_rgb","func":"global.set('g_woordklok_r', msg.payload.r.toString());  \nglobal.set('g_woordklok_g', msg.payload.g.toString()); \nglobal.set('g_woordklok_b', msg.payload.b.toString()); \nreturn msg;","outputs":1,"noerr":0,"x":277.6466064453125,"y":804.3989925384521,"wires":[[]]},{"id":"ab6390a9.4bd3c","type":"function","z":"59740636.d431c8","name":"build set one pixel message","func":"msg = { payload: 'S' + \n                 global.get('g_woordklok_x') + ' ' +\n                 global.get('g_woordklok_y') + ' ' +\n                 global.get('g_woordklok_r') + ' ' +\n                 global.get('g_woordklok_g') + ' ' +\n                 global.get('g_woordklok_b') + ' '                \n};\nreturn msg;","outputs":1,"noerr":0,"x":537.6442031860352,"y":846.3988857269287,"wires":[["2b28aa9b.181f26","ce60c99f.d5ba98"]]},{"id":"cbdd626d.d7a4c","type":"ui_button","z":"59740636.d431c8","name":"Clear","group":"4c4220b6.32a34","order":11,"width":"6","height":"1","label":"Maak de klok schoon","color":"","bgcolor":"","icon":"","payload":"C","payloadType":"str","topic":"","x":64.64663696289062,"y":888.9975805282593,"wires":[["ce60c99f.d5ba98"]]},{"id":"69023cfb.dea124","type":"ui_button","z":"59740636.d431c8","name":"Letters","group":"4c4220b6.32a34","order":10,"width":"6","height":"1","label":"Maak tekengebied schoon","color":"","bgcolor":"","icon":"","payload":"L","payloadType":"str","topic":"","x":64.64663696289062,"y":930.3076696395874,"wires":[["ce60c99f.d5ba98"]]},{"id":"f38f107a.9249a","type":"ui_switch","z":"59740636.d431c8","name":"Zomer of Winter","label":"Zomer of Winter","group":"4c4220b6.32a34","order":15,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"W","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Z","offvalueType":"str","officon":"","offcolor":"","x":89.6466178894043,"y":1147.9373378753662,"wires":[["ce60c99f.d5ba98"]]},{"id":"9f8450c5.f7be4","type":"ui_button","z":"59740636.d431c8","name":"Stel de bus in","group":"4c4220b6.32a34","order":13,"width":"4","height":"1","label":"Stel de bus in","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":93.6466293334961,"y":1014.6104879379272,"wires":[["20ab851f.a37f6a"]]},{"id":"20ab851f.a37f6a","type":"function","z":"59740636.d431c8","name":"Build B message","func":"msg = { payload: 'B' + \n                 global.get('g_woordklok_r') + ' ' +\n                 global.get('g_woordklok_g') + ' ' +\n                 global.get('g_woordklok_b') + ' '                \n};\nreturn msg;","outputs":1,"noerr":0,"x":501.65145111083984,"y":1013.396559715271,"wires":[["ce60c99f.d5ba98"]]},{"id":"42166397.763f8c","type":"ui_button","z":"59740636.d431c8","name":"Stel de fiets in","group":"4c4220b6.32a34","order":14,"width":"4","height":"1","label":"Stel de fiets in","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":92.64904022216797,"y":1053.769118309021,"wires":[["3de70e2d.b6dc62"]]},{"id":"3de70e2d.b6dc62","type":"function","z":"59740636.d431c8","name":"Build F message","func":"msg = { payload: 'F' + \n                 global.get('g_woordklok_r') + ' ' +\n                 global.get('g_woordklok_g') + ' ' +\n                 global.get('g_woordklok_b') + ' '                \n};\nreturn msg;","outputs":1,"noerr":0,"x":490.64180755615234,"y":1052.471022605896,"wires":[["ce60c99f.d5ba98"]]},{"id":"946f2c94.6bc84","type":"ui_dropdown","z":"59740636.d431c8","name":"KNMI code","label":"KNMI code","place":"Select option","group":"4c4220b6.32a34","order":16,"width":"6","height":"1","passthru":true,"options":[{"label":"Geen","value":"MB","type":"str"},{"label":"Groen","value":"MG","type":"str"},{"label":"Geel","value":"MY","type":"str"},{"label":"Oranje","value":"MO","type":"str"},{"label":"Rood","value":"MR","type":"str"}],"payload":"","topic":"","x":84.6418228149414,"y":1098.5118608474731,"wires":[["2b28aa9b.181f26","ce60c99f.d5ba98"]]},{"id":"4e563be.3791ac4","type":"ui_button","z":"59740636.d431c8","name":"Stel het vraagteken in","group":"4c4220b6.32a34","order":12,"width":"4","height":"1","label":"Stel het vraagteken in","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.64663696289062,"y":975.8365392684937,"wires":[["2c96e6a0.569cba"]]},{"id":"2c96e6a0.569cba","type":"function","z":"59740636.d431c8","name":"Build Q message","func":"msg = { payload: 'Q' + \n                 global.get('g_woordklok_r') + ' ' +\n                 global.get('g_woordklok_g') + ' ' +\n                 global.get('g_woordklok_b') + ' '                \n};\nreturn msg;","outputs":1,"noerr":0,"x":500.6442184448242,"y":976.4734992980957,"wires":[["ce60c99f.d5ba98"]]},{"id":"b581b0cb.c8798","type":"ui_button","z":"59740636.d431c8","name":"Random","group":"4c4220b6.32a34","order":3,"width":"4","height":"1","label":"Random","color":"","bgcolor":"","icon":"","payload":"R","payloadType":"str","topic":"","x":70.42007446289062,"y":659.5697631835938,"wires":[["ce60c99f.d5ba98"]]},{"id":"3acac38.945133c","type":"function","z":"4648a339.3a654c","name":"Slaapkamer stempel","func":"//msg.payload = new Date().toLocaleDateString() + \" \" + new Date().toLocaleTimeString() ;\nmsg.payload = new Date()\nreturn msg;\n","outputs":1,"noerr":0,"x":440.98394775390625,"y":873.7948608398438,"wires":[["9244df8.a9b2f2"]]},{"id":"bc373f0.8f7b0c","type":"ui_text","z":"4648a339.3a654c","group":"78f2b87e.34fcc8","order":1,"width":"6","height":"1","name":"stempel slaapkamer","label":"","format":"{{msg.payload}}","layout":"row-center","x":882.9841194152832,"y":877.7948741912842,"wires":[]},{"id":"9244df8.a9b2f2","type":"moment","z":"4648a339.3a654c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MMM HH:mm","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":651.9841041564941,"y":875.7948741912842,"wires":[["bc373f0.8f7b0c"]]},{"id":"ec6b3e86.52bae","type":"function","z":"4648a339.3a654c","name":"Handle slaapkamer T en H","func":"t = { payload : parseFloat(msg.payload.svalue1) };\nh = { payload : parseFloat(msg.payload.svalue2) };\nreturn [t, h]; ","outputs":"2","noerr":0,"x":454.98394775390625,"y":920.5640640258789,"wires":[["e9434f30.37576","662071fb.6b242","d25596a9.89d278"],["9aeaa551.3322f8","629a6f0d.1f08f","6e7dc6b5.40fbd8"]]},{"id":"e9434f30.37576","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"78f2b87e.34fcc8","order":2,"width":"2","height":"2","gtype":"gage","title":"Temperatuur","label":"[Celsius]","format":"{{value}}","min":"10","max":"30","colors":["#0700b5","#e6c900","#ca3838"],"seg1":"","seg2":"","x":895.9841156005859,"y":924.5641422271729,"wires":[]},{"id":"629a6f0d.1f08f","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"78f2b87e.34fcc8","order":3,"width":"2","height":"2","gtype":"gage","title":"Vochtigheid","label":"%","format":"{{value}}","min":"30.0","max":"90.0","colors":["#1200fc","#7d7cfb","#ffffff"],"seg1":"","seg2":"","x":895.9841156005859,"y":964.5641422271729,"wires":[]},{"id":"5d94c5a.f7c3a3c","type":"function","z":"4648a339.3a654c","name":"Handle slaapkamer vocht (obsolete)","func":"m = { payload : msg.payload.nvalue };\nreturn m; ","outputs":1,"noerr":0,"x":484.9840774536133,"y":956.5641202926636,"wires":[[]]},{"id":"ee47aa8f.305548","type":"function","z":"4648a339.3a654c","name":"Handle slaapkamer licht","func":"m = { payload : parseFloat(msg.payload.svalue1) };\nreturn m; ","outputs":1,"noerr":0,"x":443.9840774536133,"y":997.5641441345215,"wires":[["5d4288e2.f5efa8","e626038e.e98e5","4f35210d.f3401"]]},{"id":"5d4288e2.f5efa8","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"78f2b87e.34fcc8","order":4,"width":"2","height":"2","gtype":"gage","title":"Lichtsterkte","label":"","format":"{{value}}","min":0,"max":"1024","colors":["#000000","#090085","#ffffff"],"seg1":"","seg2":"","x":895.9841156005859,"y":1004.5641422271729,"wires":[]},{"id":"662071fb.6b242","type":"ui_chart","z":"4648a339.3a654c","name":"Temperatuur / dag","group":"78f2b87e.34fcc8","order":8,"width":"6","height":"3","label":"Temperatuur / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"18","ymax":"28","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1076.033187866211,"y":917.2311344146729,"wires":[[],[]]},{"id":"6e7dc6b5.40fbd8","type":"ui_chart","z":"4648a339.3a654c","name":"Vochtigheid / dag","group":"78f2b87e.34fcc8","order":9,"width":"6","height":"3","label":"Vochtigheid / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"30","ymax":"75","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1075.984115600586,"y":964.5641422271729,"wires":[[],[]]},{"id":"e626038e.e98e5","type":"ui_chart","z":"4648a339.3a654c","name":"Lichtsterkte / dag","group":"78f2b87e.34fcc8","order":10,"width":"6","height":"3","label":"Lichtsterkte / dag","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1075.984115600586,"y":1004.5641422271729,"wires":[[],[]]},{"id":"d25596a9.89d278","type":"ui_text","z":"4648a339.3a654c","group":"78f2b87e.34fcc8","order":5,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":755.9841156005859,"y":924.5641422271729,"wires":[]},{"id":"9aeaa551.3322f8","type":"ui_text","z":"4648a339.3a654c","group":"78f2b87e.34fcc8","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":755.9841156005859,"y":964.5641422271729,"wires":[]},{"id":"4f35210d.f3401","type":"ui_text","z":"4648a339.3a654c","group":"78f2b87e.34fcc8","order":7,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":755.9841156005859,"y":1004.5641422271729,"wires":[]},{"id":"2d8f2fcb.ede24","type":"ping","z":"9637b7c5.af49a8","name":"nodo10","host":"192.168.0.210","timer":"300","x":71.98396301269531,"y":484.9743347167969,"wires":[["9bb841e8.fb85e"]]},{"id":"9bb841e8.fb85e","type":"function","z":"9637b7c5.af49a8","name":"topic nodo10","func":"if (msg.payload === false) {\n    msg.payload = -3;\n} else {\n    msg.payload = Math.log10(msg.payload);\n}\nmsg.topic = \"nodo10\";\nreturn msg;","outputs":1,"noerr":0,"x":271.9839630126953,"y":484.9743347167969,"wires":[["ad8db187.242ec","c8986461.110108"]]},{"id":"ad8db187.242ec","type":"function","z":"9637b7c5.af49a8","name":"norm 1","func":"if (msg.payload > -3) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":615.9839553833008,"y":485.97431659698486,"wires":[["ad4feef6.94826"]]},{"id":"ad4feef6.94826","type":"ui_gauge","z":"9637b7c5.af49a8","name":"","group":"a6205571.88d8a8","order":5,"width":"2","height":"2","gtype":"gage","title":"192.168.0.210 nodo10","label":"","format":"{{value}}","min":"-1","max":"1","colors":["#ff0000","#ff0000","#00ee00"],"seg1":"","seg2":"","x":801.9839630126953,"y":484.9743347167969,"wires":[]},{"id":"7dde5d49.513754","type":"comment","z":"7bb41a9f.febd24","name":"Nodo event HTTP server","info":"A test to see if a nodo can send its events to a http server.","x":133.7083282470703,"y":28.628211975097656,"wires":[]},{"id":"ffca3fe8.67b1e","type":"http in","z":"7bb41a9f.febd24","name":"","url":"http:/128.0.0.1/","method":"post","swaggerDoc":"","x":167,"y":126.71797561645508,"wires":[["ad5e5e9.3dc99a","ffa73534.27a008","622b6496.ed398c"]]},{"id":"ad5e5e9.3dc99a","type":"debug","z":"7bb41a9f.febd24","name":"","active":false,"console":"false","complete":"true","x":498.7115707397461,"y":114.43271541595459,"wires":[]},{"id":"ffa73534.27a008","type":"http response","z":"7bb41a9f.febd24","name":"","x":497.70837020874023,"y":190.6217918395996,"wires":[]},{"id":"622b6496.ed398c","type":"json","z":"7bb41a9f.febd24","name":"","x":337.70837783813477,"y":261.0288906097412,"wires":[["86e8899.9947d78"]]},{"id":"86e8899.9947d78","type":"debug","z":"7bb41a9f.febd24","name":"","active":false,"console":"false","complete":"true","x":483.7083282470703,"y":268.14745330810547,"wires":[]},{"id":"5b513d94.7dd304","type":"inject","z":"c586be05.fc067","name":"inject every 10 minutes","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":151.76564025878906,"y":261.0001220703125,"wires":[["47c2b7e8.c1aff8"]]},{"id":"327e424.83057be","type":"function","z":"c586be05.fc067","name":"green smiley","func":"msg = { payload : \"MG\" };\nreturn msg;","outputs":1,"noerr":0,"x":710.701904296875,"y":1570.759765625,"wires":[["57fc8bf2.f3c264","c02c12d6.0e714"]]},{"id":"880356cb.eda5a8","type":"function","z":"c586be05.fc067","name":"yellow smiley","func":"msg = { payload : \"MY\" };\nreturn msg;","outputs":1,"noerr":0,"x":714.7083473205566,"y":1652.7661056518555,"wires":[["57fc8bf2.f3c264","c02c12d6.0e714"]]},{"id":"7968eaee.9e8ef4","type":"function","z":"c586be05.fc067","name":"orange smiley","func":"msg = { payload : \"MO\" };\nreturn msg;","outputs":1,"noerr":0,"x":727.7051429748535,"y":1693.7596969604492,"wires":[["57fc8bf2.f3c264","c02c12d6.0e714"]]},{"id":"d0620148.7fcf8","type":"function","z":"c586be05.fc067","name":"red smiley","func":"msg = { payload : \"MR\" };\nreturn msg;","outputs":1,"noerr":0,"x":711.7115516662598,"y":1732.7661056518555,"wires":[["57fc8bf2.f3c264","c02c12d6.0e714"]]},{"id":"49611957.f02248","type":"link in","z":"59740636.d431c8","name":"weer - weeralarm","links":["57fc8bf2.f3c264"],"x":666.7147226333618,"y":482.22442531585693,"wires":[["ce60c99f.d5ba98"]]},{"id":"57fc8bf2.f3c264","type":"link out","z":"c586be05.fc067","name":"","links":["49611957.f02248"],"x":1338.701904296875,"y":1636.6123046875,"wires":[]},{"id":"929c317b.20c45","type":"function","z":"c586be05.fc067","name":"resume","func":"msg = { payload :\"K\"};\nreturn msg;","outputs":1,"noerr":0,"x":1034.71484375,"y":1626.5546875,"wires":[["57fc8bf2.f3c264"]]},{"id":"ccd3e80e.80ebd8","type":"ui_text","z":"c586be05.fc067","group":"11e525c5.f6fada","order":0,"width":0,"height":0,"name":"","label":"alarmstatus","format":"{{msg.payload}}","layout":"row-spread","x":933.7115478515625,"y":808.7276611328125,"wires":[]},{"id":"9ae06c15.0293","type":"comment","z":"c586be05.fc067","name":"travel by bus or by bike","info":"","x":126.63282775878906,"y":1187.61328125,"wires":[]},{"id":"87f11fa6.e981a","type":"function","z":"c586be05.fc067","name":"by  bus","func":"return msg;","outputs":1,"noerr":0,"x":695.974365234375,"y":1529.4063720703125,"wires":[["57fc8bf2.f3c264","f972e439.ae76f8"]]},{"id":"8341fb.ab9d9e08","type":"function","z":"c586be05.fc067","name":"by bike","func":"msg = { payload: \"F0 128 128 \"};\nreturn [msg];","outputs":1,"noerr":0,"x":704.6290893554688,"y":1488.41015625,"wires":[["57fc8bf2.f3c264","bc58490e.1e1238"]]},{"id":"5ef8fa77.8edf74","type":"inject","z":"c586be05.fc067","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101.63282775878906,"y":1767.20703125,"wires":[["1f3a2ee6.dcf9a1"]]},{"id":"1f3a2ee6.dcf9a1","type":"function","z":"c586be05.fc067","name":"insert a test message","func":"msg = { payload : { svalue1 : \"0.1\" }};\nreturn msg;","outputs":1,"noerr":0,"x":295.62890625,"y":1770.15234375,"wires":[["e5d34a78.3bf968"]]},{"id":"f972e439.ae76f8","type":"delay","z":"c586be05.fc067","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":887.6329345703125,"y":1530.1290283203125,"wires":[["63029182.38bfa"]]},{"id":"bc58490e.1e1238","type":"delay","z":"c586be05.fc067","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":891.6407470703125,"y":1491.12109375,"wires":[["e18fdf9a.69029"]]},{"id":"63029182.38bfa","type":"function","z":"c586be05.fc067","name":"not by bke","func":"msg = { payload: \"F0 0 0 \"};\nreturn [msg];","outputs":1,"noerr":0,"x":1081.62890625,"y":1531.15625,"wires":[["57fc8bf2.f3c264"]]},{"id":"e18fdf9a.69029","type":"function","z":"c586be05.fc067","name":"not by bus","func":"msg = { payload: \"B0 0 0 \"};\nreturn [msg];","outputs":1,"noerr":0,"x":1081.62890625,"y":1493.14453125,"wires":[["57fc8bf2.f3c264"]]},{"id":"b3f3e474.52a998","type":"link out","z":"4648a339.3a654c","name":"to clock - Buiten THB","links":[],"x":285,"y":403,"wires":[]},{"id":"88613daf.670e3","type":"link out","z":"4648a339.3a654c","name":"to clock - Buiten Wind","links":[],"x":324,"y":421,"wires":[]},{"id":"6473a486.9fd23c","type":"link out","z":"4648a339.3a654c","name":"to clock - Possible Rain","links":["1b3ed55f.64817b"],"x":356,"y":438,"wires":[]},{"id":"1b3ed55f.64817b","type":"link in","z":"c586be05.fc067","name":"","links":["6473a486.9fd23c"],"x":204,"y":1331.9999389648438,"wires":[["4e6e994e.3f6b18"]]},{"id":"4e6e994e.3f6b18","type":"switch","z":"c586be05.fc067","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":359.00006103515625,"y":1329.3333740234375,"wires":[[],[]]},{"id":"47c2b7e8.c1aff8","type":"http request","z":"c586be05.fc067","name":"","method":"GET","ret":"obj","url":"http://weerlive.nl/api/json-data-10min.php?key=0a3416536f&locatie=52.05871,5.13696","tls":"","x":377,"y":262,"wires":[["cee7f393.ae51c","fcf28ba7.212288"]]},{"id":"d8c2c24a.4440a","type":"comment","z":"c586be05.fc067","name":"get weerlive.nl","info":"","x":90,"y":214,"wires":[]},{"id":"fcf28ba7.212288","type":"debug","z":"c586be05.fc067","name":"","active":false,"console":"false","complete":"false","x":576,"y":309,"wires":[]},{"id":"cee7f393.ae51c","type":"function","z":"c586be05.fc067","name":"first element","func":"m = { payload : msg.payload.liveweer[0]};\nreturn m; ","outputs":1,"noerr":0,"x":120,"y":309,"wires":[["e2e0448b.e7a5a8","c7791dba.fbbf2","721d790c.63f228","d0e5d617.cc8518","3fcc042.7fbb0fc","59c142a4.6f565c","ce62e5a1.91a498","89bbcf48.d57b8","cc962d7e.fa22b","d1bdae67.7efc3","f81e75da.6bfd78","fcf28ba7.212288"]]},{"id":"721d790c.63f228","type":"function","z":"c586be05.fc067","name":"Weer provider Baro","func":"m = { payload : msg.payload.luchtd, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":600,"y":483,"wires":[["11d1a495.40a93b","4fafe2de.c0e40c","94b252dd.4dbaf"]]},{"id":"3fcc042.7fbb0fc","type":"function","z":"c586be05.fc067","name":"Weer provider Sun up","func":"m = { payload : msg.payload.sup, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":607,"y":721,"wires":[["8c13035e.8131b"]]},{"id":"d0e5d617.cc8518","type":"function","z":"c586be05.fc067","name":"Weer provider Sun dwn","func":"m = { payload : msg.payload.sunder, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":618,"y":761,"wires":[["28f0f713.990528"]]},{"id":"59c142a4.6f565c","type":"function","z":"c586be05.fc067","name":"Weer provider verwacht","func":"m = { payload : msg.payload.verw, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":615,"y":681,"wires":[["c943ac43.adf25"]]},{"id":"ce62e5a1.91a498","type":"function","z":"c586be05.fc067","name":"Weer provider samenvat","func":"m = { payload : msg.payload.samenv, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":610,"y":558,"wires":[["7b5b99b9.3c7668"]]},{"id":"89bbcf48.d57b8","type":"function","z":"c586be05.fc067","name":"empty","func":"m = { };\nreturn m; ","outputs":1,"noerr":0,"x":560,"y":355,"wires":[["3031eda8.4d8bb2"]]},{"id":"cc962d7e.fa22b","type":"function","z":"c586be05.fc067","name":"Weer provider Alarm","func":"m = { payload : msg.payload.alarm, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":605,"y":809,"wires":[["ccd3e80e.80ebd8"]]},{"id":"d1bdae67.7efc3","type":"function","z":"c586be05.fc067","name":"Weer provider windrichting","func":"m = { payload : msg.payload.windr, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":623,"y":600,"wires":[["b149214e.11171"]]},{"id":"f81e75da.6bfd78","type":"function","z":"c586be05.fc067","name":"Weer provider wind beaufort","func":"m = { payload : msg.payload.winds, topic: \"wli\" };\nreturn m; ","outputs":1,"noerr":0,"x":622,"y":640,"wires":[["de0bf174.736fc"]]},{"id":"3e70d539.398b2a","type":"comment","z":"c586be05.fc067","name":"=========================  weer spul  ===================================","info":"","x":340,"y":31,"wires":[]},{"id":"a34e13f4.e96c7","type":"comment","z":"c586be05.fc067","name":"===================================== woordklok spul ==================================","info":"","x":393,"y":1150,"wires":[]},{"id":"7f2dee5b.c119d","type":"debug","z":"c586be05.fc067","name":"","active":false,"console":"false","complete":"true","x":723,"y":1290,"wires":[]},{"id":"90debdaf.b6955","type":"link out","z":"4648a339.3a654c","name":"to clock - rain next hour","links":["65be8a8a.feb584"],"x":387,"y":456,"wires":[]},{"id":"65be8a8a.feb584","type":"link in","z":"c586be05.fc067","name":"","links":["90debdaf.b6955"],"x":205,"y":1292,"wires":[["7242d73a.1e3f18"]]},{"id":"49b9fc67.a44184","type":"switch","z":"c586be05.fc067","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":499.3334045410156,"y":1286.0000171661377,"wires":[["7f2dee5b.c119d","cb926e2b.5310d"],["8341fb.ab9d9e08","7f2dee5b.c119d","327e424.83057be"]]},{"id":"7242d73a.1e3f18","type":"function","z":"c586be05.fc067","name":"parseFloat","func":"msg.payload = parseFloat(msg.payload.svalue1);\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":1291,"wires":[[]]},{"id":"e5d34a78.3bf968","type":"function","z":"c586be05.fc067","name":"parseFloat","func":"msg.payload = parseFloat(msg.payload.svalue1);\nreturn msg;","outputs":1,"noerr":0,"x":279,"y":1835,"wires":[[]]},{"id":"37f50478.1b150c","type":"inject","z":"c586be05.fc067","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":109,"y":110,"wires":[["d7c2ed76.ed00f"]]},{"id":"d7c2ed76.ed00f","type":"http request","z":"c586be05.fc067","name":"","method":"GET","ret":"txt","url":"http://gpsgadget.buienradar.nl/data/raintext/?lat=52.05871&lon=5.13696","tls":"","x":277,"y":113,"wires":[["97aa03b0.57f05"]]},{"id":"c06277f6.43b188","type":"debug","z":"c586be05.fc067","name":"","active":false,"console":"false","complete":"payload","x":1112,"y":108,"wires":[]},{"id":"dfcecac1.a51858","type":"comment","z":"c586be05.fc067","name":"get buienradar rain pixels data","info":"","x":151,"y":71,"wires":[]},{"id":"97aa03b0.57f05","type":"function","z":"c586be05.fc067","name":"build rainchart and half uur som","func":"var txt = msg.payload.split('\\n');\nvar data = [];\nvar halfuursom = 0;\nfor (i=0; i<(txt.length - 1); i++) {\n    vk = txt[i].split('|');\n    // data[i] = { k:vk[1].trim(), v:parseInt(vk[0]) };\n    data[i] = parseInt(vk[0]);\n    // assume 24 points with 5 minutes interval\n    if (i<7) {\n        halfuursom = halfuursom + data[i];\n    }\n}\n// msg.payload = data;\n// return msg;\nvar m = {};\nvar s = {};\nm.payload = data;\ns.payload = halfuursom;\nreturn [m, s];","outputs":"2","noerr":0,"x":526,"y":111,"wires":[["c06277f6.43b188","d70212e8.3ba84"],["c06277f6.43b188","68a7af72.8ab95","e7016546.732618","a62fc523.938e08"]]},{"id":"b45421a.dad17e","type":"ui_chart","z":"c586be05.fc067","name":"","group":"1cbfb80.a635b48","order":0,"width":"8","height":"8","label":"Regen in komend 2 uur","chartType":"line","legend":"false","xformat":"","interpolate":"step","nodata":"","ymin":"0","ymax":"255","removeOlder":"10","removeOlderPoints":"24","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1092,"y":179,"wires":[[],[]]},{"id":"d70212e8.3ba84","type":"split","z":"c586be05.fc067","name":"","splt":"\\n","x":849,"y":181,"wires":[["58390b09.2738a4"]]},{"id":"58390b09.2738a4","type":"function","z":"c586be05.fc067","name":"","func":"m = {};\nm.payload = msg.payload;\nreturn m;","outputs":1,"noerr":0,"x":966,"y":179,"wires":[["b45421a.dad17e"]]},{"id":"e244fb7f.9a95e8","type":"mqtt in","z":"4648a339.3a654c","name":"publications on domoticz/in","topic":"domoticz/in","qos":"2","broker":"ff806796.7a6b58","x":144,"y":1090,"wires":[["cfe0e440.0d6b68","f7cbf783.ad7948"]]},{"id":"f7cbf783.ad7948","type":"debug","z":"4648a339.3a654c","name":"","active":false,"console":"false","complete":"true","x":377,"y":1089,"wires":[]},{"id":"cfe0e440.0d6b68","type":"json","z":"4648a339.3a654c","name":"","x":114,"y":1040,"wires":[["c4107a1f.5f3f78"]]},{"id":"c4107a1f.5f3f78","type":"switch","z":"4648a339.3a654c","name":"","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"255","vt":"num"},{"t":"eq","v":"256","vt":"num"}],"checkall":"true","outputs":2,"x":95,"y":930,"wires":[["f7cbf783.ad7948","f6748594.70bf08","1bcee82f.cb3fc8"],["f7cbf783.ad7948","f6748594.70bf08","d6837ef8.55638"]]},{"id":"78f6e7a.5c2f618","type":"function","z":"4648a339.3a654c","name":"Handle sun power","func":"m = { payload : parseFloat(msg.payload.svalue1) };\nreturn m; ","outputs":1,"noerr":0,"x":430,"y":721,"wires":[["14ae4c9c.648f13","9c7145ac.e90878","8f13197c.6a2868","25347643.42639a"]]},{"id":"14ae4c9c.648f13","type":"ui_text","z":"4648a339.3a654c","group":"f9e731b0.74cb9","order":6,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":750,"y":725,"wires":[]},{"id":"9c7145ac.e90878","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"f9e731b0.74cb9","order":3,"width":"2","height":"2","gtype":"gage","title":"Zonkracht","label":"[W/m^2]","format":"{{value}}","min":"0","max":"1300","colors":["#807700","#f2d482","#fcfbf8"],"seg1":"50","seg2":"200","x":880,"y":721,"wires":[]},{"id":"8f13197c.6a2868","type":"ui_chart","z":"4648a339.3a654c","name":"Zonkracht / dag","group":"f9e731b0.74cb9","order":8,"width":"6","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"1300","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1062,"y":722,"wires":[[],[]]},{"id":"68a7af72.8ab95","type":"link out","z":"c586be05.fc067","name":"regen komend half uur","links":["3e331fcf.b1bd3"],"x":815,"y":223,"wires":[]},{"id":"3e331fcf.b1bd3","type":"link in","z":"c586be05.fc067","name":"regen komend half uur","links":["68a7af72.8ab95"],"x":202,"y":1241,"wires":[["49b9fc67.a44184"]]},{"id":"cb926e2b.5310d","type":"switch","z":"c586be05.fc067","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"400","vt":"num"},{"t":"lt","v":"900","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":194,"y":1533,"wires":[["318c2115.2aaa7e"],["2231e887.a105e8"],["a9ad20e3.85a58"]]},{"id":"318c2115.2aaa7e","type":"function","z":"c586be05.fc067","name":"by yellow bus","func":"msg = { payload: \"B200 128 0 \"};\nreturn [msg];","outputs":1,"noerr":0,"x":375,"y":1504,"wires":[["87f11fa6.e981a","880356cb.eda5a8"]]},{"id":"2231e887.a105e8","type":"function","z":"c586be05.fc067","name":"by red bus","func":"msg = { payload: \"B200 0 0 \"};\nreturn [msg];","outputs":1,"noerr":0,"x":365,"y":1544,"wires":[["87f11fa6.e981a","880356cb.eda5a8"]]},{"id":"a9ad20e3.85a58","type":"function","z":"c586be05.fc067","name":"by magenta bus","func":"msg = { payload: \"B200 0 200 \"};\nreturn [msg];","outputs":1,"noerr":0,"x":371,"y":1588,"wires":[["87f11fa6.e981a","7968eaee.9e8ef4"]]},{"id":"f3ccd549.c8fe58","type":"inject","z":"c586be05.fc067","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":351,"y":1212,"wires":[["49b9fc67.a44184"]]},{"id":"e7016546.732618","type":"ui_gauge","z":"c586be05.fc067","name":"Regen som komend half uur","group":"1cbfb80.a635b48","order":0,"width":"8","height":"8","gtype":"gage","title":"Regen som komend half uur","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#000000","#fae900","#e801f9"],"seg1":"200","seg2":"600","x":901,"y":143,"wires":[]},{"id":"a62fc523.938e08","type":"ui_chart","z":"c586be05.fc067","name":"","group":"1cbfb80.a635b48","order":0,"width":"8","height":"8","label":"Regensom in laatste 30 min","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1090,"y":145,"wires":[[],[]]},{"id":"9422e7a6.5b6ea8","type":"inject","z":"c586be05.fc067","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75,"y":1622,"wires":[["d0620148.7fcf8"]]},{"id":"c02c12d6.0e714","type":"delay","z":"c586be05.fc067","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":895,"y":1626,"wires":[["929c317b.20c45"]]},{"id":"ecc93b84.93b708","type":"function","z":"4648a339.3a654c","name":"Handle deurcontact","func":"msg.payload = msg.payload.nvalue;\nreturn msg;","outputs":"1","noerr":0,"x":427,"y":777,"wires":[["d6659f71.3e352","af251fdc.6a7cf"]]},{"id":"d6659f71.3e352","type":"ui_gauge","z":"4648a339.3a654c","name":"","group":"902f134b.f818a","order":7,"width":"2","height":"2","gtype":"donut","title":"Deurcontact","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#000000","#000000","#ffef00"],"seg1":"","seg2":"","x":1055,"y":770,"wires":[]},{"id":"af251fdc.6a7cf","type":"switch","z":"4648a339.3a654c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":601,"y":803,"wires":[["2838d596.396a6a","125b47ac.487de8"]]},{"id":"125b47ac.487de8","type":"link out","z":"4648a339.3a654c","name":"doorcontact_changed_presence","links":["a15a5520.b7be88"],"x":1003,"y":803,"wires":[]},{"id":"a15a5520.b7be88","type":"link in","z":"659b1a18.a0fee4","name":"","links":["125b47ac.487de8"],"x":242,"y":104,"wires":[[]]},{"id":"eba4704.28ceb9","type":"comment","z":"659b1a18.a0fee4","name":"Door contact may have changed presence","info":"","x":247,"y":60,"wires":[]},{"id":"6514afe3.23d1a","type":"inject","z":"659b1a18.a0fee4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":224,"y":203,"wires":[["805cb3ef.dcad5"]]},{"id":"68c2c9fe.e8ca28","type":"debug","z":"659b1a18.a0fee4","name":"","active":true,"console":"false","complete":"true","x":1011,"y":239,"wires":[]},{"id":"805cb3ef.dcad5","type":"arp","z":"659b1a18.a0fee4","name":"ARP","macs":"","x":404,"y":203,"wires":[["74c397c6.072008","68c2c9fe.e8ca28"]]},{"id":"74c397c6.072008","type":"function","z":"659b1a18.a0fee4","name":"Check for bens mobile MAC","func":"m2 = {};\nm2.payload = { note:\"Some payload found.\", ip:\"\"};\nif (msg.payload.length > 0) {\n    for (i=0; i<msg.payload.length; i++) {\n        if (msg.payload[i].mac == \"e0:99:71:0b:8a:aa\") {\n            m2.payload.note = \"Bens mobile present at: \" + msg.payload[i].ip;\n            m2.payload.ip = msg.payload[i].ip;\n            return m2;\n        }\n    }\n} else {\n    m2.payload = \"empty payload\"\n}\nreturn m2;","outputs":1,"noerr":0,"x":639,"y":202,"wires":[["68c2c9fe.e8ca28"]]},{"id":"74fbe84f.5383a8","type":"udp out","z":"44214951.2b6408","name":"Send UDP msg to Wekker","addr":"192.168.0.212","iface":"","port":"8888","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1265.633399963379,"y":379.86675453186035,"wires":[]},{"id":"9ac9f7d8.bd671","type":"ui_switch","z":"44214951.2b6408","name":"radio aan/uit","label":"radio aan/uit","group":"98bc36f5.d46de8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"U","onvalueType":"str","onicon":"","oncolor":"","offvalue":"M","offvalueType":"str","officon":"","offcolor":"","x":332.6333312988281,"y":344.40000343322754,"wires":[["74fbe84f.5383a8"]]},{"id":"424fe69e.9d5a58","type":"ui_numeric","z":"44214951.2b6408","name":"Wektijd uur","label":"Wektijd uur","group":"71ad0d2b.183724","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":332.09999084472656,"y":390.8000297546387,"wires":[["76743809.872978"]]},{"id":"4d9d91d9.cf1b","type":"ui_numeric","z":"44214951.2b6408","name":"Wektijd min","label":"Wektijd min","group":"71ad0d2b.183724","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":331.09999084472656,"y":432.8000068664551,"wires":[["573c5a9a.e48aa4"]]},{"id":"b8ebbd97.6b458","type":"ui_numeric","z":"44214951.2b6408","name":"Huidig uur","label":"Huidig uur","group":"7a7a293.0ba3ed8","order":3,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":331.0999984741211,"y":528.800085067749,"wires":[["1454ebff.930a34"]]},{"id":"9b320862.07ee78","type":"ui_numeric","z":"44214951.2b6408","name":"Huidig min","label":"Huidig min","group":"7a7a293.0ba3ed8","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"60","step":1,"x":335.0999984741211,"y":579.8000392913818,"wires":[["6d33aa91.e68a34"]]},{"id":"10d7f020.e2d14","type":"debug","z":"44214951.2b6408","name":"","active":false,"console":"false","complete":"false","x":1200.1002655029297,"y":776.2000784873962,"wires":[]},{"id":"48bf8402.3520cc","type":"link in","z":"44214951.2b6408","name":"Wekker - huidig uur","links":["b2151dd6.c96dd"],"x":160.10000228881836,"y":532.0000400543213,"wires":[["b8ebbd97.6b458"]]},{"id":"b2151dd6.c96dd","type":"link out","z":"59740636.d431c8","name":"from Clock - huidig uur","links":["48bf8402.3520cc"],"x":1162.1000385284424,"y":156.40001392364502,"wires":[]},{"id":"3758c9ce.419b06","type":"link out","z":"59740636.d431c8","name":"from Clock - huidig min","links":["c7081e0e.dacfc"],"x":1160.1001138687134,"y":196.40001487731934,"wires":[]},{"id":"c7081e0e.dacfc","type":"link in","z":"44214951.2b6408","name":"Wekker - huidig min","links":["3758c9ce.419b06"],"x":158.10000228881836,"y":579.6000881195068,"wires":[["9b320862.07ee78"]]},{"id":"471a1d1d.1fc3e4","type":"rbe","z":"59740636.d431c8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":827.1000823974609,"y":199.60000610351562,"wires":[["113f58fc.ada5a7","3758c9ce.419b06"]]},{"id":"1de461e2.153d1e","type":"rbe","z":"59740636.d431c8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":828.1000137329102,"y":153.60000801086426,"wires":[["7ece514a.5c58b","b2151dd6.c96dd"]]},{"id":"41fceca8.fc4ed4","type":"link out","z":"59740636.d431c8","name":"from Clock - huidig sec","links":["e6362eae.dae9d"],"x":1159.1000175476074,"y":237.40000343322754,"wires":[]},{"id":"e6362eae.dae9d","type":"link in","z":"44214951.2b6408","name":"Wekker - huidig sec","links":["41fceca8.fc4ed4"],"x":159.10000228881836,"y":637.2000408172607,"wires":[["73feb48a.1d734c"]]},{"id":"73feb48a.1d734c","type":"ui_numeric","z":"44214951.2b6408","name":"Huidig sec","label":"Huidig sec","group":"7a7a293.0ba3ed8","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":334.10000228881836,"y":636.8000411987305,"wires":[[]]},{"id":"1454ebff.930a34","type":"function","z":"44214951.2b6408","name":"Set global huidig uur","func":"global.set('g_wekker_h', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":516.1001739501953,"y":530.0001525878906,"wires":[[]]},{"id":"6d33aa91.e68a34","type":"function","z":"44214951.2b6408","name":"Set global huidig minuten","func":"global.set('g_wekker_m', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":529.1001052856445,"y":577.0001554489136,"wires":[[]]},{"id":"5d21fcc1.4f8c54","type":"function","z":"44214951.2b6408","name":"wrap","func":"var m;\nm = msg.c + \"|\"+ msg.payload.toString();\nmsg = { payload:m };\nreturn msg;","outputs":1,"noerr":0,"x":1036.100185394287,"y":573.0001001358032,"wires":[["74fbe84f.5383a8"]]},{"id":"76e068f3.c33f68","type":"ui_numeric","z":"44214951.2b6408","name":"Snoozing duur","label":"Snoozing duur [m]","group":"71ad0d2b.183724","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"10","step":"1","x":344.0999946594238,"y":824.0000438690186,"wires":[["2fdf3897.69d608"]]},{"id":"3df6a81b.fc7588","type":"ui_numeric","z":"44214951.2b6408","name":"Attentive duur","label":"Attentive duur [m]","group":"5dfe9fcc.2c95b8","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"10","step":"1","x":347.0999946594238,"y":870.0000448226929,"wires":[["9b43473f.31eaf8"]]},{"id":"70199b53.9f78f4","type":"function","z":"44214951.2b6408","name":"A|<alarming duur>","func":"msg.c = 'A';\nreturn msg;","outputs":1,"noerr":0,"x":661.0000152587891,"y":775.0000877380371,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"2fdf3897.69d608","type":"function","z":"44214951.2b6408","name":"B|<snoozing duur>","func":"msg.c = 'B';\nreturn msg;","outputs":1,"noerr":0,"x":661.0000228881836,"y":821.0000982284546,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"9b43473f.31eaf8","type":"function","z":"44214951.2b6408","name":"C|<attentive duur>","func":"msg.c = 'C';\nreturn msg;","outputs":1,"noerr":0,"x":662.0000228881836,"y":864.0000972747803,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"807bc479.c93e88","type":"ui_switch","z":"44214951.2b6408","name":"klok aan/uit","label":"klok aan/uit","group":"7a7a293.0ba3ed8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"D","onvalueType":"str","onicon":"","oncolor":"","offvalue":"E","offvalueType":"str","officon":"","offcolor":"","x":333.00000762939453,"y":266.00000381469727,"wires":[["74fbe84f.5383a8"]]},{"id":"c206ed04.d7926","type":"comment","z":"44214951.2b6408","name":"Generates D and E","info":"Generates D and E","x":651.1000823974609,"y":260.00004863739014,"wires":[]},{"id":"ac915f69.30dc","type":"comment","z":"44214951.2b6408","name":"Generates U and M","info":"","x":655.0000457763672,"y":339.0000343322754,"wires":[]},{"id":"5a5c0678.5bb3c8","type":"ui_switch","z":"44214951.2b6408","name":"show seconds","label":"show seconds","group":"7a7a293.0ba3ed8","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"F","onvalueType":"str","onicon":"","oncolor":"","offvalue":"G","offvalueType":"str","officon":"","offcolor":"","x":342,"y":303,"wires":[["74fbe84f.5383a8"]]},{"id":"eab4eb79.8fd058","type":"comment","z":"44214951.2b6408","name":"Generates F and G","info":"","x":650.0000228881836,"y":298.00004482269287,"wires":[]},{"id":"a67f6a9.80d3298","type":"ui_numeric","z":"44214951.2b6408","name":"Alarming duur","label":"Alarming duur [m]","group":"71ad0d2b.183724","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"10","step":"1","x":344.0999984741211,"y":779.0000429153442,"wires":[["70199b53.9f78f4"]]},{"id":"d3b58de3.aff37","type":"ui_numeric","z":"44214951.2b6408","name":"radio frequency","label":"radio frequency [100kHz]","group":"98bc36f5.d46de8","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"880","max":"1080","step":"1","x":346.0999946594238,"y":923.0000457763672,"wires":[["a817ddb1.20bde"]]},{"id":"a817ddb1.20bde","type":"function","z":"44214951.2b6408","name":"I|<frequency>","func":"msg.c = 'I';\nreturn msg;","outputs":1,"noerr":0,"x":658.0000152587891,"y":923.0000877380371,"wires":[["5d21fcc1.4f8c54","10d7f020.e2d14"]]},{"id":"1e3c6489.879f7b","type":"ui_button","z":"44214951.2b6408","name":"sync met domotica","group":"7a7a293.0ba3ed8","order":6,"width":0,"height":0,"label":"sync met domotica","color":"","bgcolor":"","icon":"","payload":"J","payloadType":"str","topic":"","x":352.0999984741211,"y":683.8002014160156,"wires":[["f7c7badd.985d28"]]},{"id":"19e6820c.c4465e","type":"ui_switch","z":"44214951.2b6408","name":"zomer / winter","label":"zomer / winter","group":"7a7a293.0ba3ed8","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Z","onvalueType":"str","onicon":"","oncolor":"","offvalue":"W","offvalueType":"str","officon":"","offcolor":"","x":343.1666793823242,"y":731.0000562667847,"wires":[["10d7f020.e2d14","b0dc4026.0cbf9"]]},{"id":"b0dc4026.0cbf9","type":"function","z":"44214951.2b6408","name":"K|<Z|W>","func":"msg.c = 'K';\nreturn msg;","outputs":1,"noerr":0,"x":627.9333724975586,"y":728.4000902175903,"wires":[["5d21fcc1.4f8c54"]]},{"id":"68a959e5.113558","type":"ui_button","z":"44214951.2b6408","name":"Zet wekker aan/uit","group":"71ad0d2b.183724","order":1,"width":0,"height":0,"label":"Zet wekker aan/uit","color":"","bgcolor":"","icon":"","payload":"O","payloadType":"str","topic":"","x":351.9333190917969,"y":226.26666259765625,"wires":[["74fbe84f.5383a8"]]},{"id":"e174103f.c14fe","type":"ui_button","z":"44214951.2b6408","name":"Zet wekker op sluimerstand","group":"71ad0d2b.183724","order":2,"width":0,"height":0,"label":"Zet wekker op sluimerstand","color":"","bgcolor":"","icon":"","payload":"N","payloadType":"str","topic":"","x":380.9333190917969,"y":184.93333435058594,"wires":[["74fbe84f.5383a8"]]},{"id":"eb7432c2.7b484","type":"ui_button","z":"44214951.2b6408","name":"attentitive touch","group":"5dfe9fcc.2c95b8","order":1,"width":0,"height":0,"label":"attentitive touch","color":"","bgcolor":"","icon":"","payload":"L","payloadType":"str","topic":"","x":341.9333190917969,"y":144.93333435058594,"wires":[["74fbe84f.5383a8"]]},{"id":"a3faa971.c0f988","type":"comment","z":"44214951.2b6408","name":"Generates L","info":"Generates L","x":628.933349609375,"y":141.93333435058594,"wires":[]},{"id":"a73a6309.bd13b","type":"comment","z":"44214951.2b6408","name":"Generates N","info":"Generates N","x":633.9333801269531,"y":176.93334197998047,"wires":[]},{"id":"4dc89d1a.db17d4","type":"comment","z":"44214951.2b6408","name":"Generates O","info":"Generates O","x":632.933349609375,"y":214.93333435058594,"wires":[]},{"id":"d961b618.4a6cc8","type":"comment","z":"44214951.2b6408","name":"S,T,V,W, 0..9 single command ASCII codes still available","info":"","x":459.933349609375,"y":100.93333721160889,"wires":[]},{"id":"f7c7badd.985d28","type":"function","z":"44214951.2b6408","name":"R|<h>|<m>","func":"var m;\nm = \"R|\" + global.get('g_wekker_h') + '|'+ global.get('g_wekker_m') ;\nmsg = { payload:m };\nreturn msg;","outputs":1,"noerr":0,"x":636.9334106445312,"y":682.533390045166,"wires":[["74fbe84f.5383a8"]]},{"id":"73b9af46.95ca8","type":"ui_button","z":"44214951.2b6408","name":"stel wektijd in","group":"71ad0d2b.183724","order":5,"width":0,"height":0,"label":"stel wektijd in","color":"","bgcolor":"","icon":"","payload":"J","payloadType":"str","topic":"","x":331.99998474121094,"y":474.2666816711426,"wires":[["f8579b99.764858"]]},{"id":"76743809.872978","type":"function","z":"44214951.2b6408","name":"Set global wektijd uur","func":"global.set('g_wekker_alarm_h', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":514.9333724975586,"y":391.2666816711426,"wires":[[]]},{"id":"573c5a9a.e48aa4","type":"function","z":"44214951.2b6408","name":"Set global wektijd minuten","func":"global.set('g_wekker_alarm_m', msg.payload);  \nreturn msg;","outputs":1,"noerr":0,"x":522.9334030151367,"y":432.2667179107666,"wires":[[]]},{"id":"f8579b99.764858","type":"function","z":"44214951.2b6408","name":"P|<alarm uur>","func":"var m;\nm = \"P|\" + global.get('g_wekker_alarm_h') + '|'+ global.get('g_wekker_alarm_m') ;\nmsg = { payload:m };\nreturn msg;","outputs":1,"noerr":0,"x":644.1003646850586,"y":478.0002155303955,"wires":[["10d7f020.e2d14","74fbe84f.5383a8"]]},{"id":"52e919bb.a37188","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO4","group":"98bc36f5.d46de8","order":6,"width":0,"height":0,"label":"Radio - NPO4","color":"","bgcolor":"","icon":"","payload":"943","payloadType":"str","topic":"","x":103.16671752929688,"y":1070.6003274917603,"wires":[["d3b58de3.aff37"]]},{"id":"7000f4d3.ae76bc","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO3","group":"98bc36f5.d46de8","order":5,"width":0,"height":0,"label":"Radio - NPO3","color":"","bgcolor":"","icon":"","payload":"968","payloadType":"str","topic":"","x":107.93336486816406,"y":1034.9335927963257,"wires":[["d3b58de3.aff37"]]},{"id":"53c16e86.d595e","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO1","group":"98bc36f5.d46de8","order":3,"width":0,"height":0,"label":"Radio - NPO1","color":"","bgcolor":"","icon":"","payload":"989","payloadType":"str","topic":"","x":106.93336486816406,"y":957.9335870742798,"wires":[["d3b58de3.aff37"]]},{"id":"9bd3164b.8e4278","type":"ui_button","z":"44214951.2b6408","name":"Radio -NPO2","group":"98bc36f5.d46de8","order":4,"width":0,"height":0,"label":"Radio - NPO2","color":"","bgcolor":"","icon":"","payload":"926","payloadType":"str","topic":"","x":108.9333610534668,"y":996.9335250854492,"wires":[["d3b58de3.aff37"]]},{"id":"3ff287d3.9bb4b8","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"943","payloadType":"num","repeat":"","crontab":"","once":true,"x":90.16666412353516,"y":922.8667945861816,"wires":[["d3b58de3.aff37"]]},{"id":"7681f873.692da8","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"x":87.16666030883789,"y":779.8667221069336,"wires":[["a67f6a9.80d3298"]]},{"id":"9d45e4e8.cf7f18","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"x":88.16666030883789,"y":826.8667249679565,"wires":[["76e068f3.c33f68"]]},{"id":"7ceab78.fa34d48","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":86.16666030883789,"y":871.8667278289795,"wires":[["3df6a81b.fc7588"]]},{"id":"7d0c9e43.719af","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":true,"x":79.16665649414062,"y":390.8666763305664,"wires":[["424fe69e.9d5a58"]]},{"id":"9573f39f.fb79e","type":"inject","z":"44214951.2b6408","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":78.16666030883789,"y":435.8666744232178,"wires":[["4d9d91d9.cf1b"]]}]